[2021-01-11 13:51] #359 closed, assigned to garrettwrong

[2021-01-11 13:54] garrettwrong commented on #331
I am comfortable closing this now that we understand this is relating to dot vs sum(sq()) and the test was controlled a little in #334.  We can always reopen.

[2021-01-11 13:54] #331 closed, assigned to garrettwrong

[2021-01-11 13:57] garrettwrong commented on #153
@junchaoxia , would you be able to cover your part of this (those three remaining components (fft, rotation, xform) which you were actively working on) so we can complete and close it out?

[2021-01-11 14:02] garrettwrong commented on #209
Marking this as done wrt release prep (covered in #310), but leaving open because there is a good future issue here... namely migrated from the legacy numpy to Generator etc.

[2021-01-13 08:31] janden commented on #367
I think it's better if all IO stuff live in `aspire.storage`. The `Volume` and `Image` classes should be independent of application.

[2021-01-14 14:52] garrettwrong commented on #307
After discussion with Joakim, in today's meeting we looked at the distribution of eigvals for sig_var_coef in BatchedRotCov2D with a hack:

[code]

I found there is large concentrations of negative and near zero eigenvalues.  This supports a concern that we are ill conditioned.

We discussed checking whether we are in fact positive definite and conditioning, adding warnings etc.

To continue diagn

[2021-01-14 17:06] garrettwrong opened #371 "FFB 3D m_reshapes"
I noticed for 3d covar estimation in FFBBasis3D there is a sequence of m_reshapes along with some transposes. They can probably be reduced or eliminated by refactoring code in that neighborhood.

The area I am talking about is right around the code changes for #370 .

[2021-01-21 14:53] janden commented on #127
Where are we on this?

[2021-01-21 15:18] junchaoxia commented on #317
Addressed in PR #366. Closing now.

[2021-01-21 15:18] #317 closed, assigned to junchaoxia

[2021-01-21 15:22] junchaoxia commented on #127
The lists in PR 2 need to be finished.

[2021-01-21 18:38] garrettwrong opened #372 "ffb_3d nufft not casting to real"
We found in our meeting discussion that we are not taking only the real component of the `nufft` call in ffb_3d.

PR to follow.

[2021-01-25 15:55] janden commented on #127
Ok thank you.

[2021-01-25 21:47] junchaoxia opened #373 "Use fast 3D version of FB basis for Cov3D"
Current the CLICK command and tutorial examples for Cov3D are using the slow version of FB basis for 3D expanding. We need to switch to the fast version FFBBasis3D. However, there are some bugs to be fixed such as mismatchs of data types and Numpy array shapes as shown below:

mean_est = mean_estimator.estimate()
File "/tigress/junchaox/software/ASPIRE-Python_git/src/aspire/reconstruction/estimato

[2021-01-26 16:39] garrettwrong commented on #372
Closed by 374

[2021-01-26 16:39] #372 closed, assigned to garrettwrong

[2021-02-01 13:26] garrettwrong opened #378 "ImageArraySource doesn't work with filter/pipelines"
When used with filter/pipeline code, code attempts to iterated over filters. Sources like `Simulation` are instantiated with a `ctf_filter` argument for example. `ImageArraySource` is not instantiated with such a filter (it is None).

From this I gather we have not yet used this source with the rest of the processing code.

[2021-02-02 19:55] garrettwrong opened #379 "Integrate CTF estimate feature"
Refactor and update `ctf` branch so it can be integrated into `develop` branch.

[2021-02-02 20:04] garrettwrong commented on #379
Just adding some notes about the main work I did today.  I have an updated and rebased brach for this feature that conforms to our CI system.  I am currently numerically validating.  This is taking a little longer to validate than I estimated because the feature results are not deterministic.  I have locally implemented two changes for determinism and am working through the program beginning to en

[2021-02-03 15:59] garrettwrong commented on #379
Noting the `simplex` method takes approx 50% longer on my test example.  I will look into the initial point.

[2021-02-03 20:11] garrettwrong commented on #379
Looks like `x0` initial guess point is only applicable to `revised-simplex` method, not `interior-point`. Going to rm the repro flag for now.  Left note above the call in the code if anyone needs to help debug it later.  Will break out the `dtype` from `repro` so users may elect what precision they'd like from the command line.

[2021-02-03 21:00] garrettwrong commented on #379
@janden

Noting some of the non-determinism appears to come from pyfftw.  FFTW by default is not necessarily using deterministic algorithm.
http://www.fftw.org/faq/section3.html#nondeterministic

Setting pyfftw.config.PLANNER_EFFORT = 'FFTW_ESTIMATE' is mentioned in their docs as a quick way to get a deterministic result.  I have confirmed that settles the original code numerically (nice!, wish I

[2021-02-04 13:23] garrettwrong commented on #379
I ran the current state of the ctf estimation code overnight so I could look at the variations.  The attached charts capture what I am seeing.  This is better than it was, but still not great imo. I tried to dress them up just enough to be self explanatory.

I am hoping to tighten this up today/tomorrow so that the unit test doesn't have to be fuzzy.
![Figure_1](https://user-images.githubuserconte

[2021-02-04 19:56] garrettwrong commented on #379
Today I found several uninitialized (np.empty) arrays were adding random noise to the algorithm.  I have changed them to np.zero, and remaining noise looks mostly like typical eigen solver and fft noise. This might mean both code have an incorrect slice, or simply that it was expecting zeros... In doubles we now maintain a small run to run error in the signal/thon_ring arrays (E-14 or so, happy wi

[2021-02-05 10:21] janden commented on #379
Makes sense. We should probably be running `FFTW_ESTIMATE` by default anyhow since we're not very good about keeping plans around (and `FFTW_MEASURE` and `FFTW_PATIENT` can be quite slow, IIRC).

I'm not completely following here. Can you point me to the spot? I can tell you what it's supposed to do.

Ok. It's not too crazy that the defocus values would be a little more unstable since they're foun

[2021-02-05 12:44] garrettwrong commented on #379
Even with the signals now pretty stable run to run, the defocus values would probably need E-2 to get through out test suite reliably. It is possible there are more improvements to find, but I am getting past the amount of time I budgeted to necromance this branch.  I think we might consider passing this back to Ayelet soon.  Maybe she can comment on her expectations regarding the accuracy etc. (L

[2021-02-05 13:10] garrettwrong commented on #379
the E-2 number comes from the results of running in a loop. Last night over 2500 ish runs generated the following. Setting the unit test to the midpoint with a radius of 5E-2 should probably work okay in practice.

[code]

Characteristically it is only slightly tighter clustering than previously.

[2021-02-05 13:12] garrettwrong commented on #358
GHA is live now.  First successful automated run on `develop` completed this morning. We can consider the self hosted approaches in the background. Closing.

[2021-02-05 13:12] #358 closed, assigned to nobody

[2021-02-05 13:12] garrettwrong commented on #358
(#376)

[2021-02-05 13:58] garrettwrong opened #381 "docs Bibtex config needs to be updated"
Attempting to build/add some docs for another PR I found that with the latest doc toolchain we require adding `bibtex_bibfiles` to our doc config.

PR to follow.

[2021-02-08 17:35] #381 closed, assigned to garrettwrong

[2021-02-09 02:58] junchaoxia commented on #336
This issue was addressed on PR #337. Closing now.

[2021-02-09 02:58] #336 closed, assigned to junchaoxia

[2021-02-09 03:04] junchaoxia commented on #299
The tutorial examples for experimental datasets have been added in PR #302, #302, #348 and #354 for the submodules merged into the new framework. Closing now.

[2021-02-09 03:04] #299 closed, assigned to junchaoxia

[2021-02-09 03:09] junchaoxia commented on #208
Recently developments has tended to derived new ImageSource classes for saving denoised images and orientation angles. Hence the ImageSource class should be treated as immutable. Closing now.

[2021-02-09 13:42] janden commented on #208
No the preprocessing functions still modify the object.

[2021-02-11 12:20] garrettwrong opened #384 "Add a method for users to compute Radial profiles"
In a few recent PRs (#383 ) we have had the need to generate simple radial profiles.

I found some examples of code to do this, but there are a variety of methods that yield different results. (Even picking a distance metric seems to have variety).

We'll need to decide what is the best method for ASPIRE, implement this method, and replace any ad hoc usage.

[2021-02-11 12:41] garrettwrong opened #385 "aspire CLI entrypoint"
User requested `aspire` cli usage instead of `python -m aspire`.

[2021-02-11 13:33] garrettwrong commented on #320
User reported they tried to install against python 3.9 (osx I beleive) and got an error. While we're not officially supporting 3.9 yet, I thought I'd take a look at the current state of the install.

[code]

I tracked that specific error down to scikit-image.  Older versions demand that numpy is installed prior to attempting their install. This was fixed in their upstream, but that requires upgrad

[2021-02-11 13:36] garrettwrong commented on #320
(pandas would be one we might want to upgrade, it is really slow to build a wheel for it locally...)

[2021-02-11 13:48] garrettwrong commented on #320
I spoke too soon, the install still fails at the last step for pyfftw.  They provide wheels for 3.6 3.7 3.8, but not for 3.9. So it tries to build from source, but their packaging has a bug (it doesn't install cython ahead of time...). I'll try to get some idea what their plan is here.

[2021-02-12 12:58] janden commented on #320
You're talking about skimage? Yeah would make sense to wait for them to release py39 wheels then.

[2021-02-12 13:00] garrettwrong commented on #320
both skimage and pyfftw, several packages have issues. It's a mess. I was able to get around skimage by bumping numpy (which requires bumping scipy.)

There are limited versions of packages that will support all the python versions... and the newer pip is getting more strict about this...

[2021-02-12 13:03] janden commented on #384
I think the “canonical” solution here (given our use of FB bases) is to decompose of the radially symmetric components of an FB basis. There's a few things that are missing for this to work properly.

One is that we currently can only decompose over the entire basis, which is too expensive. We need to have the option of restricting the basis object further to only include a certain number of angul

[2021-02-12 13:05] janden commented on #320
Ok got it.

Right. But on the other hand, we don't necessarily want to drop support for 3.6 since it's still in use (it's default in ubuntu 18.04 which will be around for a few more years). For now, it's fine to hold off on py39 support, though.

[2021-02-12 13:26] garrettwrong commented on #320
I agree we shouldn't drop it. OTOH I don't think the versioning issue is going to go away with time...  it will get worse, especially if I ignore it. Python 3 crowd is totally out of control with this stuff, unfortunately.

I _think_(tbd) I was able to find _one_ intersection of versions that will support all the platforms, but it requires relaxing the scikit-image version to >=0.17  . Any other c

[2021-02-12 20:55] garrettwrong commented on #385
Closed by #386

[2021-02-12 20:55] #385 closed, assigned to garrettwrong

[2021-02-12 21:19] garrettwrong commented on #323
related to #384

[2021-02-16 07:43] janden commented on #320
All right. Looks like 3.6 will be EOL in December, so if we have to, we may be able to drop it sometime this year. On the other hand, not sure how Ubuntu 18.04 is dealing with this since they're going to be around until 2023. Do they maintain their own fork, then?

[2021-02-19 13:18] #307 closed, assigned to junchaoxia

[2021-02-19 13:24] garrettwrong opened #389 "cufinufft v1.2 release"
There are some minor API changes for cufinufft v1.2 which is staging for release right now.

- [x] Update function calls in wrapper
- [x] Change setup.py's cufinufft version >= 1.2

[2021-02-19 13:54] garrettwrong commented on #373
This has two topics. First  FFB3D was apparently never used for anything outside its own unit test yet, so it naturally has some bugs.  I have some of this reconciled in `ffb3d_debugging` branch, but it's not clean enough to make a PR yet. Also...

Second issue is performance.  In some old code from April the cov3d simulation based tutorial example using FB3D took about 1 minute, and swapping to u

[2021-02-19 15:05] janden commented on #373
So I'm comparing FB vs. FFB in Octave and am seeing similar timings. Not sure what's going on here. There is a speedup when you go to large images, but it's quite small. Will investigate further.

[2021-02-19 15:12] garrettwrong commented on #373
That's good in a way I guess.

Okay, we can give back considerable time by skipping the `cb` function which duplicates expensive computations.. or call it less frequently.  I see some of my favorite confusing functions in here :D.

[2021-02-19 15:53] janden commented on #373
Update: I originally benchmarked the het3d code, but found out that it's not as optimized as the recent Aspire code, so I update the results below.

So I put together a little benchmark script in Matlab for the Aspire code.
[code]
Doing a few runs on a Flatiron workstation (dual 6-core Xeons, 3.4 GHz), it seems like breakeven is around 32:
[code]
Although `evaluate` and `evaluate_t` have very diff

[2021-02-19 16:15] garrettwrong commented on #373
Awesome (well the verification, not re the size itself), thanks. I'll try changing the problem size in the tutorial.

[2021-02-19 18:58] #378 closed, assigned to nobody

[2021-02-19 20:38] janden commented on #373
I don't know that that's necessary. We'd like the tutorial to run fast, so maybe smarter to switch back to the “slow” FB basis for now (I know…).

[2021-02-19 20:46] garrettwrong commented on #373
Sure, the small tutorial is already (still) using the FB3D. I didn't mean to change it permanently, rather locally, to verify performance.  I still think this code merits some improvement. I am not able to run 32 cubed on my desktop (I only have 32GB RAM), but 16 is running now in background.  I hope the fast version is faster than this :D. It uses more memory than I expected too.

[2021-02-22 14:10] garrettwrong commented on #373
Alright, so at (16, 16, 16) I achieve a genuine 2x speedup on my desktop.  FB approx 6 hours. FFB approx 3 hours.  Unfortunately I cannot compare results, the checkout from april crashes for any volume that is not (8,8,8).

Considering the tutorial takes two minutes using FFB3d vs one minute FB3d, then it doesn't really concern me which one we ship (from a timing perspective).

[2021-02-22 14:14] janden commented on #373
Wait now I'm confused. Decomposing a 3D volume of size `(16, 16, 16)` takes several hours on your machine? Is this for a large stack or using a single core? Still, I don't see how it should take quite that long…

[2021-02-22 14:33] garrettwrong commented on #373
4C/8T. The cores are pretty fast on this one...

As I read the tutorial this is 2 volumes (16, 16, 16). 1024 images (16, 16).

I can run on one of my rack machines or tigercpu to get a many core time.  I expect there would be a speedup switching to MKL backend for numpy as well.

But yes, this code is slower and uses a lot more memory than I was expecting.  Because the older checkout of the python

[2021-02-22 15:09] garrettwrong commented on #373
while im waiting in princeton's queue (another reason I like my desktop :D ) I'll rerun the 16,16,16 case with a profiler.

[2021-02-22 20:28] garrettwrong commented on #373
Still waiting for the TigerCPU node to finish (20 cores). It has already surpassed my desktop time. I might run it again with a couple slurm tweaks. I can also run it again with MKL as time permits... that all needs to be bg stuff though... I sort of need to clean up the code changes and get moving forward.. Feels like didn't make much progress today.

Anyway, the profile output from my desktop is

[2021-02-23 08:01] janden commented on #373
All right so the running times you're quoting are for the whole tutorial at different resolutions, not just decomposing single 3D volumes. That accounts for part of the discrepancy. It might be easier to just focus on `evaluate` and `evaluate_t` for now.

[2021-02-23 16:31] garrettwrong commented on #373
Sure, in the future I can time those methods for tuning.  To round out the end to end measurements, I ran on TigerCPU as we ship, and it was slower than my desktop, 291m.

Using MKL for numpy and fft backends on tigercpu  we get significant reduction to 173m.

[2021-02-23 16:46] janden commented on #373
Ok thanks.

[2021-02-25 15:35] #365 closed, assigned to nobody

[2021-02-26 11:54] garrettwrong opened #393 "FFB 3D Performance Optimization"
In #373 there was some discussion about FFB3D performance. Both the speedup crossover from FB3D (by problem size) and the time to solution could benefit from some tuning.  I'm making this issue so the other one (which was more about broken functionality) can be closed out.

[2021-02-26 11:57] garrettwrong commented on #373
The broken functionality was corrected with #390 .  A separate issue (#393) suggesting future performance tuning was created.

Closing.

[2021-02-26 11:57] #373 closed, assigned to nobody

[2021-03-01 16:14] garrettwrong opened #396 "Rotation Class missing unit tests"
When attempting to use `Rotation.generate_random_rotations` I found the code crashed. I fixed the bug in the `intro` branch along with some other minor patches, but this leads me to believe this code is not under test.

Add some unit test(s) that cover this code.

[2021-03-02 21:11] #389 closed, assigned to garrettwrong

[2021-03-10 12:58] garrettwrong commented on #243
Trolling for some small issues, took quick peek at this and as best I can tell, coveralls was last updated successfully (for master) Feb 2020.

Probably it is minor fix, I'll take a look.

![coveralls](https://user-images.githubusercontent.com/47759732/110633089-565d2100-8176-11eb-9da1-7fb4cc7f7949.png)

[2021-03-10 16:05] itaysason opened #401 "ImageSource.whiten return nans"
When running the following script to whiten noise I get an array of nans in `images`:

[code]

PATH_TO_FILE is the path for the npy here [stack.zip](https://github.com/ComputationalCryoEM/ASPIRE-Python/files/6117194/stack.zip)

[2021-03-10 16:30] garrettwrong commented on #401
Your script seems to have some oddities, but I can quasi confirm.

1) `src` package doesn't correspond to any version of aspire I've used... I assume that is just your folder name? (there are some better ways described in the README if you want..).
2) Your array as written is rejected by current aspire code as having the wrong shape.

Working past those by removing the `src.` and the .T.copy() I c

[2021-03-10 17:24] garrettwrong opened #403 "ArrayImageSource should admit Arrays"
I think this was oversight (probably my bad) to require `ArrayImageSource` to be initialized from `Image`.

We can attempt to do this for the user (checking for sanity). It should only require a few lines of code, basic unit test, and updating our example notebooks/tutorials/docs.

Result should make our examples less terse, and a more sensible api for users.

[2021-03-10 18:12] garrettwrong opened #405 "weights (het3d wts)"
Port scripts for feature developed by Amit H/M to ASPIRE-Python.

Currently Amit H is working on building some utility functions to write out MATLAB data which can then be read in ASPIRE-Python for use validating MATLAB and Python versions.

I began mapping between the renamed/edited scripts and what I believe to be the original MATLAB sources (or close enough). Referring to the changes I am imple

[2021-03-11 08:15] itaysason commented on #401
1. I just use the path to import, just checked and I can drop the src, works with and without it.
2. Sorry, when saving the file I already fixed it, you are right removing the .T works.

The source data is from leia server /scratch/yoelsh/datasets/10028/data/particles/shiny_2sets.star, after I apply my preprocess (phaseflip, downsample, normalize_background). Taking the first 100 images.

[2021-03-11 12:14] janden commented on #403
Sounds good.

[2021-03-11 12:17] janden commented on #405
Cool. As far as I know, there should be no need for a `WeightedCovarianceEstimator`, all of the generalization happens for the mean estimation code. As far as name suggestions, maybe `WeightedMeanEstimator` should be `GeneralizedMeanEstimator` or `WeightedVolumesEstimator`.

[2021-03-11 12:33] garrettwrong commented on #401
Interesting, 10028, I think I use that in other examples of this same estimation and whitening method without those preprocessing steps.

[2021-03-11 12:47] #363 closed, assigned to garrettwrong

[2021-03-11 12:47] garrettwrong commented on #396
Closed by #402

[2021-03-11 12:47] #396 closed, assigned to garrettwrong

[2021-03-11 13:08] garrettwrong commented on #405
Yes, you are right. The other subclass I was working on was `FourierKernelMat` (the rxr collection kernel matrices), not covariance.  I was trying to write this down from my memory which can't be trusted. I'll try to be more careful.

[2021-03-11 14:35] itaysason commented on #401
On even sized images the code works, when diving a little deeper into the filter I noticed that there is np.inf in the edge of the filter, so when trying images of size 88x88 it worked as intended.

[2021-03-11 15:40] garrettwrong commented on #401
Awesome. I saw your other note re normalizing background, but I don't see it here.  This is encouraging.

We also talked about some other way to improve robustness with this filter this morning, but for synthetic data.

I'll see if I can reproduce what you described. Thanks!

[2021-03-16 12:06] garrettwrong commented on #243
I had more trouble than I wanted trying to update coveralls post Travis.  Codecov worked out of the box using the standard `coverage` reports and the `pytest-cov` package we were already using.  Implementing Codecov by GitHub actions was done with the official codecov-action.

This app additionally adds a report to PRs, which I think is kind of neat if it doesn't involve any effort on our part.

T

[2021-03-16 12:06] #243 closed, assigned to garrettwrong

[2021-03-18 13:18] garrettwrong commented on #401
Can confirm if I downsample the provided data to 88 the whitening procedure no longer produces the nans.  Further, some odd downsampled resolutions appear to work with this dataset (eg 77) while many others do not.  The problem remains whether we do a crop or a downsample. The same resolutions work/fail.

I'm downloading emdb10028 particles locally and will try to reproduce this error from raw unp

[2021-03-18 19:26] garrettwrong opened #407 "Log length of (Relion)Source"
It would be useful to log the total expected length of a source as a diagnostic when working with large (particularly experimental) data sets.  Right now we just log we are processing a block with a blocksize, but a user might appreciate a sense of how many blocks etc.

[2021-03-18 19:36] garrettwrong commented on #401
I was not able to reproduce this using the first 100 rows or raw 10028 particles from Empiar. I tried running right into the aniso noise estimator and also using a phase_flip->downsample->normalize_background preprocessing pipeline as implemented in ASPIRE-Python.  ~Currently it is running~ It also ran over the entire 10028 particle set.

I still very much want to understand (and fix) whatever is

[2021-03-24 17:31] garrettwrong commented on #401
@janden Narrowing this down a little... Briefly, I think our (ASPIRE-Python's) interpolater or our usage of it is not correct.

I saved the results of `_input_pts` and `self.xfer_fn_array` from `ArrayFilter._evaluate` as a `.mat`.  From there I can show that the results of our `RegularGridInterpolator` do not match MATLAB's `interpn` which is suggested in the code...  Namely we get many `0` values

[2021-03-26 15:26] garrettwrong opened #408 "Pandas SettingWithCopyWarnings"
In the process of review a different PR I am seeing this warning.  Noting it to come back and fix.  These assignments can potentially be undefined...

[code]

[2021-04-23 12:47] #408 closed, assigned to nobody

[2021-04-23 14:53] garrettwrong opened #412 "Starfile IO"
It's not clear how to simply use our starfile IO utils to write some data. It does have some tests but they are more reader focused, and test tautology of reading then writing back the same structure.  Its not really clear if I have some data in python how to structure/write it with ASPIRE's tool.

If we are going to have this feature, we need to document it better, both in documentation and in so

[2021-05-03 18:11] garrettwrong opened #413 "Simulation should work for n=1"
In another feature I found that trying to make a Simulation crashes for `n=1` because of some array indexing/dim problems.

While this is not the expected use (typically n would be large), it should probably work...

Fix is only a few lines, I'll break it out of the other work for a small PR.

[2021-05-06 12:53] janden commented on #412
That would be great. I think the only reason that this functionality was even included in ASPIRE was due to the lack of existing libraries. If they exist and work well, I don't see why we shouldn't use them.

[2021-05-10 11:48] garrettwrong commented on #413
Closed by #414 .

[2021-05-10 11:48] #413 closed, assigned to garrettwrong

[2021-05-10 12:19] garrettwrong opened #415 "Develop CLICK command for orientation estimation"
Create a wrapper, working tutorial, update documentation, and add any associated tests.

[2021-05-10 12:29] garrettwrong commented on #401
After the filter grid patch was merged into develop Itay was able to check that the results from whitening are now close (between ASPIRE-Python and his preprocessing stack).  He is going to let us know if he finds anymore discrepancies that require investigating.  Closing issue following #409 .

[2021-05-10 12:29] #401 closed, assigned to garrettwrong

[2021-05-10 12:34] garrettwrong opened #416 "Refactor Estimate CTF towards `aspire.operators.filters.CTFFilter`"
Most of this is already in `aspire.operators.filters.CTFFilter`, but I'm not sure if everything lines up 100%. If so, would be good to make an issue out of it.

_Originally posted by @janden in https://github.com/ComputationalCryoEM/ASPIRE-Python/pull/380#discussion_r613115229_

[2021-05-10 14:21] garrettwrong commented on #415
Nevermind; it looks like we have `orient3d` command committed, it just wasn't linked to the issue. Closing.

[2021-05-10 14:21] #415 closed, assigned to nobody

[2021-05-17 17:43] garrettwrong opened #417 "Reduce CTF Linear Program Variables"
We need to sort out what's going on here. Why do we have 2N variables that we're estimating in this linear program, but the first N are restricted to be in the interval `(signal[i], signal[i]`) an therefore constant? Is this some workaround to a limitation in `linprog`?

_Originally posted by @janden in https://github.com/ComputationalCryoEM/ASPIRE-Python/pull/380#discussion_r613902423_

I think r

[2021-05-19 22:55] janden commented on #261
skimage was removed in #388.

[2021-05-19 22:55] #261 closed, assigned to nobody

[2021-05-20 13:57] garrettwrong opened #418 "Add Wavelet Based Earth Mover Distance"
Amit M has provided some code used by the ASPIRE group relating to this paper:

https://home.ttic.edu/~ssameer/Research/Papers/WEMD_CVPR08.pdf

[code]

I will submit a draft PR with a stub test file after meetings this morning. When the tests are added we can undraft for review.

[2021-05-25 16:04] garrettwrong opened #420 "Cov2d noise_var=0 appears to have a bug (crash)"
There appears to be a discrepancy between 0 and 1 for the variable noise_var in cov2d family of code.  This is similar to an issue I found in the legacy code, but I was expecting it to be handled in ASPIRE-Python because it is specifically mentioned in the docstrings...  However, trying to use noise_var=0 with this code (for using clean images in development) results in a crash.

It would appear m

[2021-05-26 12:02] garrettwrong opened #422 "CTF Estimation: Circular vs Elliptical Averaging"
The following was the beginning of an unresolved discussion regarding the assignment of FB coefs in CTF Estimation code.

There is some suggested code in the discussion, but patching it may involve some scientific ownership.

I can't make sense of what follows. Why is only `ell = 1` and `ell = 2` set to zero and not the others for circular averaging? What happens to higher values of `ell`? Also wh

[2021-05-26 12:12] garrettwrong commented on #379
Sparing a few issues (#422, #417, #416 ,#412) the bulk of this feature has been integrated in #380 .

[2021-05-26 12:12] #379 closed, assigned to garrettwrong

[2021-05-26 12:28] ayeletheimowitz commented on #422
If I remember correctly, the noise parameter returned in the circular case is never used and I just set it to something arbitrary.

[2021-05-26 15:37] janden commented on #422
Ok, but it is used on the elliptical case?

[2021-05-26 15:38] ayeletheimowitz commented on #422
Yes

[2021-05-26 15:39] janden commented on #422
Ok. We'll try to find a way around that then.

[2021-05-26 15:49] janden commented on #420
I trace it to here: https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/4b25c09df833703ca77bdac1d8486d2e61c719b6/src/aspire/covariance/covar2d.py#L32

Basically, the covariance matrix is normalized by `noise_var` to simplify some of the calculations below. This will involve removing that division and sprinkling in a few `noise_var *` in the rest of that function.

[2021-05-26 16:17] janden commented on #420
So there's two ways to solve this: treat `noise_var = 0` as a special case or rewrite the formulas so that they are correct in this special case. The former is obviously easier, but the latter may help with some instability issues when the noise is very small.

I've been able to fix up (I think) `shrink_covar` to deal gracefully with `noise_var = 0`, but `get_cwf_coeffs` is trickier. Might be simp

[2021-05-26 16:23] garrettwrong commented on #420
Yes that is one problem.  I've tried a few things (including scaling the noise_var through lamba (constant just comes through right)). I am finding the tutorial example (which is more/less like what I would try to do in other codes...) comes down later with Singular Matrix in `get_cwf_coeffs`.  The unit test does not and I don't know why yet...

[2021-05-26 16:27] janden commented on #420
Right. I think I've gotten that to work. Will push a proposed fix.

If I had to guess, it's related to the fact that when forcing the covariance matrix to be PSD, we may set certain eigenvalues to zero. Now this means that when we try to invert it in `get_cwf_coeffs`, it's singular. If there's noise, this isn't a problem, but since `noise_var = 0`, we tickle this instability.

One solution is to p

[2021-05-26 16:50] garrettwrong commented on #420
Okay cool, thanks for you help. I'll bring your patch down (closed the other PR, will do cleanup separate later).

[2021-05-27 10:36] ayeletheimowitz commented on #416
Actually, I don't see where we use the ctf object created by this code. I may have wanted this function just so the ctf package will do both both estimation and creation.

[2021-05-27 11:07] garrettwrong commented on #416
I think we saw formulas that looked like CTF in multiple places (one probably being what you just looked at).

This issue probably has two parts.

First making sure ASPIRE-Python's CTFFilter is exposed in a way that it can be used in a code like your contribution. Maybe it is, I'm not sure (that's some of the work). My guess is the content is there but it might not have a simple interface outside

[2021-06-01 13:36] garrettwrong opened #424 "get_cwf_coeffs error clean images with non-Id CT"
In #420 and #421 some small changes were made to run cov2d with small/zero noise_var.  Previously it would crash with div0 or later Singular matrix etc etc. Most of those changes relate to `shrinker`, but `get_cwf_coeffs` also required a change.

It appears I may not have implemented the correction for CTF correctly because we yield a higher error than for the noisy case, and the error looks sort

[2021-06-01 13:41] garrettwrong commented on #424
Picture was generated by running `tutorials/examples/cov2d_simulation.py` after setting shrinker=None and noise_var=0`.

![cwf_coeffs_shrinkerNone_noise_var0](https://user-images.githubusercontent.com/47759732/120333101-5d02bc80-c2bd-11eb-9871-266cd49f8071.png)

[2021-06-01 16:23] garrettwrong commented on #420
Closed crash issue with #421. Some improvement still on the table #424.

[2021-06-01 16:23] #420 closed, assigned to nobody

[2021-06-09 11:12] garrettwrong opened #426 "Using ArrayImageSource With Mean/Volume Estimator Crashes"
Found when trying to use researcher provided MATLAB reference data for #406 .

Essentially, `ArrayImageSource` does not correctly set attributes relating to rotations (`rots` property, and/ `_rotations`) required in some of the volume estimation code.  At least that is the first issue... Probably these just need to be initialized to zero equivalents.

Reproduced in `develop`. The following isolate

[2021-06-09 13:56] janden commented on #426
Mean estimation is not defined if rotations are present, so the solution here should be to raise some sort of error.

[2021-06-09 14:13] garrettwrong commented on #426
Rotations are not present. We're just trying to pass a static array of images through...

[2021-06-09 14:14] garrettwrong commented on #426
Basically, if we try to use most of ASPIRE with anything other than `Simulation` I have zero expectation it will work.

[2021-06-09 15:47] janden commented on #426
Sorry I mistyped. Mean is not defined if rotations *are not* present. This is expected behavior. It shouldn't work.

[2021-06-09 17:04] garrettwrong commented on #426
Thanks for trying to help, but I think we're working two different angles. I do not agree with you. Here's what I'm thinking:

1) I actually have rotations available, but the source does not admit them.. that is a different problem that comes later. I was intentionally avoiding since it feels mostly irrelevant at this point. I actually care little about the algorithm at this moment.  I simply have

[2021-06-09 17:47] janden commented on #426
I'm not following. If you want to estimate the mean, you need a few things: images, filters, rotations, amplitudes, and shifts. Those are all required by the mean reconstruction algorithm. Just supplying images will not work unless you also add these other things. I agree that `ArrayImageSource` should provide a means for doing this (point 1 above, if I understood correctly).

For point 2, I'm not

[2021-06-09 17:52] janden commented on #426
Ok I see now what you're doing for 2. You're supplying zero angles, which should correspond to identity rotation matrices, which is what you set the rotations to in `ArrayImageSource`. While this may not give an error directly in the mean estimation, CG won't converge because the inversion is ill-posed. Is that what you're seeing?

[2021-06-09 18:22] janden commented on #426
Looks like the it was the missing filters, so `src.eval_filter_grid` was just uninitialized data. Most of the time this means at least one nan which contaminates the whole kernel computation. This seems to work on my end:
[code]
Again, the inversion should still not work due to the ill-posedness, but it the nans should be gone.

[2021-06-09 19:28] garrettwrong commented on #426
I tried the IdentityFilter (and also changing the default nan value in filter value setting).  It did not occur to me at all to zero the indices. Nice. Progress. Thanks a lot!

So that does give identical results.  Now they both converge. (heh, yeah I know.. we will have to get to that 🙉  ).

I think now I feel comfortable plumbing through some optional rotations via the `ArrayImageSource` instant

[2021-06-09 19:55] janden commented on #426
Yes well… Different issue.

Yes this makes sense to me. Rotations is the only tricky one since it lacks a sensible default. For filters, it should default to a single `IdentityFilter` and all filter indices pointing to that one. For offsets, they should all be zero, and for amplitudes, they should all be ones, but there is no default rotation. So the sensible thing to do might be to default to Non

[2021-06-09 20:51] garrettwrong commented on #426
I see the problem as business logic that is somewhat intimate is split in both `ImageSource` and `Simulation`.

I want to believe it will be the only tricky one 🙂 .  I suspect you may want to be able to override all of them at some point.

I didn't catch this message because I was working on the patch, but I think what I came up with is mostly in line with what you suggest. Take a peek at #427 . I

[2021-06-11 17:50] garrettwrong commented on #426
Closed by #427

[2021-06-11 17:50] #426 closed, assigned to garrettwrong

[2021-06-14 11:30] garrettwrong opened #428 "mrcfile file corruption warnings (APPLE)"
In the process of processing some data (10025 20S) with APPLE picker the following warnings are generated.  The output of APPLE seems reasonable so far; I think the warnings are benign.

I mentioned this to Joakim and he suggested there may be a more permissive mode switch for the `mrcfile` package.  Will try that.  If that doesn't work we may instead want to capture this warning and log our own (

[2021-06-14 11:48] garrettwrong commented on #428
Looking into this I see we are already attempting to open the file permissively.  This is a case of a corrupt data fileset (every single file has a bad map and bad machine stamp).  I will try to emit a more meaningful message in ASPIRE and log the issues with the file to debug logs.

[2021-06-15 11:11] garrettwrong commented on #428
Closed by #429

[2021-06-15 11:11] #428 closed, assigned to garrettwrong

[2021-06-28 13:37] garrettwrong opened #430 "Improve support of PDB/MAP files"
User emailed asking whether we support PDB files.

It is more/less undocumented that we open `.map` via MRC.  Beyond that I think we are in the realm of other tools like Biopython's `Bio.PDB`.  If we get feedback from users that certain utilities for handing actual PDB files are useful we can consider adding functions or contributed code to ASPIRE-Python.

Minimally we should document working with

[2021-06-29 12:07] garrettwrong opened #431 "Add Adaptive Support method"
Integrate adaptive support function for image stacks. This came up in some discussions with Amit and Yunpeng (also in the class averaging code). In the legacy code this was theoretically available in `choose_support_v6.m`.

Some notes. In practice the MATLAB script was not working.  It crashes for even resolutions and doesn't always return both the values it was intending to compute when it does r

[2021-06-30 12:38] janden commented on #430
Makes sense regarding MAP files.

For PDBs, prody is another useful package. The important question here is what we would do with PDB files. These describe atomic models, which aren't part of our pipeline. They could be used to generate synthetic volumes, but that's about it.

[2021-06-30 12:45] janden commented on #431
I remember `choose_support_v6` being broken. Not crashing, but just giving wrong results for the support. It would be good to take a closer look at this to see if there are some deeper algorithmic issues. I remember Jane was supposed to look at this, but I don't know if anything came of it.

[2021-06-30 12:58] garrettwrong commented on #431
I know in some cases it was not returning one of the two values because of an array indexing error.  In that case things could have gone wrong many ways...  (this was happening to me during validation and driving me nuts, can tell you more later).  I believe I fixed that issue in this code.

The cumulative energies looked sane (I plotted them during validation).

I'd be happy to dig a little deepe

[2021-07-01 12:57] janden commented on #431
IIRC it was an issue of giving wildly inaccurate support values in certain circumstances, but I don't remember the details. It's a component that should be validated, for sure.

[2021-07-01 19:12] garrettwrong opened #433 "Latest depends tickling a bug in PIL"
When checking a PR our CI reported that the development environments (the ones we let `pip upgrade`)  are tickling a very recent bug in PIL.

Both failed tests look like this (in APPLE, but this has nothing to do with APPLE).
[code]

Confirmed it's this:
https://github.com/python-pillow/Pillow/issues/5571

I'll work around it (just requires moving the `dtype` arg to `astype(dtype)`). PR coming in

[2021-07-01 19:30] garrettwrong commented on #431
This came up again today.

1) Amit mentioned I can find the topic in one of the steerable pca papers. I'll look again and try to add reference.
2) Yunpeng's recent experiments seem to indicate we get worse performance with non default support, so there is no rush to link this up with FFB quite yet.

[2021-07-01 19:44] garrettwrong commented on #424
Yunpeng suggested he was able to get considerably better results for this problem using least squares instead of `solve` (gesv).  He should be sending me some code to consider for a PR so we can close it out with more success.

[2021-07-01 19:47] #433 closed, assigned to garrettwrong

[2021-07-02 08:23] janden commented on #424
That suggests there is some ill-conditioning here. Using LS might be a too blunt of a tool. Just to be clear, we're talking about this line https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/28ebc69b7d54088a64d3569fe1b4fc893138074d/src/aspire/covariance/covar2d.py#L443 correct?

[2021-07-02 11:21] garrettwrong commented on #424
I think so.  The patch line he sent me is just changing the underlying call for all block diagonal solves, which is what will be used in that line (`sig_noise_covar_coeff` is block diag instance).

What I will try to do later this morning is change the `solve` to admit a `solver` and just focus on overriding the one suspected call. (Changing `solve` to least squares wholesale is not a fix).

[2021-07-05 07:22] janden commented on #424
I don't know if that's a good idea. It would be better to get to the bottom of why this is happening in the first place. Like I said the issue is likely due to some eigenvalues of the matrix being close to zero. If so, it should be a matter of tracking it to where those zero eigenvalues are coming from and finding a way around them.

Ideally, we'd want to keep the interface as close to `np.linalg.

[2021-07-06 12:20] garrettwrong commented on #424
Okay, I understand.  So the idea was that somebody else was already spending time doing that (finding out what's causing it and providing solution). Unfortunately they not involved in this discussion or actually contributing code.  I'm going to drop off this issue and try to clarify some things later. We'll get back to it.

[2021-07-08 12:14] garrettwrong commented on #424
Placing this email with the actual discussion.  The first section categorizes the prior work presented at our lunch meeting and the second restates the proposed implementation above.

EDIT: Reformatted quote.

[2021-07-08 15:25] janden commented on #418
Solved?

[2021-07-08 16:00] garrettwrong commented on #418
I think so, forgot to close. (For some reason the automation doesn't alwasy work well on GH, haven't had time to figure out why). Thanks.

[2021-07-08 16:00] #418 closed, assigned to mosco, garrettwrong

[2021-07-09 10:29] janden commented on #424
Ok. I think we agree on the cause of the problem: a non-invertible covariance matrix. Where we differ is how to solve this. I don't think constructing a pseudo-inverse here is a good idea for two reasons. First, what we actually want here is a minimum-norm solution, if I understand correctly. If so, we want to write this in a way that's clear. While calculating a pseudo-inverse would work, it woul

[2021-07-14 12:08] garrettwrong opened #436 "Block Tridiagonal Matrix"
During a research group meeting, a user requested Block Tridiagonal Matrix implementation (analogous to our `BlkDiagMatrix`) to support their research.

Ostensibly this doesn't seem too difficult but there are a couple design concerns/decisions that need to be considered.

1)  Are all the blocks the same size?  Generally when people refer to Block Diagonal and Block Tridiagonal it is implicit that

[2021-07-14 12:13] garrettwrong commented on #153
Reminding myself the state of this.  `fft` was moved to `numeric` so checked that off.  Will look at the others, maybe can close this out.

[2021-07-14 12:23] garrettwrong commented on #153
`xform.py` is in `.image`, checking that off.

[2021-07-14 12:46] garrettwrong commented on #195
Hrm, I am going to reopen this. I don't think Junchao ever actually replaced the legacy utils with the class.  We just have two implementations right now.

Here is a superfical list of the places that need to be swapped.  I guess one concern is that if the class is not identical to the old functions this might be a bit of work to validate.

[code]

[2021-07-14 12:51] garrettwrong commented on #153
That leaves rotations. Essentially we have a class, and it's in the place described above so the module side of things seems to be complete.

ASPIRE-Python code is unfortunately still using the older rot functions, but because we already have a smaller scoped issue for that (#195) we can close this one.

[2021-07-14 12:51] #153 closed, assigned to garrettwrong

[2021-07-14 13:24] garrettwrong opened #437 "Reimplement legacy `align` and `rot_align`"
In #411 , I initially brought over a serviceable but clunky (and hard to understand) port of the legacy MATLAB code.

The pair of functions' purpose is to find in plane rotations for classes of images (provided as indices into an `ImageSource`).  Performance is slow and accuracy not particularly great, though it does seem to improve with higher resolutions.  Hand wavy, I think its just doing a new

[2021-07-14 13:31] garrettwrong opened #438 "Basis Coefficient Classes"
During #411 (and also in the implementation of Fourier Bessel and FSPCA Basis) it was noted that having a more intelligent class for basis coefficients would be very useful. They should result in the algo implementations being much more expressive and less prone to errors.

There are some empty class stubs relating to this idea but I don't think any work was ever done in this direction specificall

[2021-07-14 13:42] garrettwrong opened #439 "Complex vs Real Implementations"
In #411 there are several components where the classic implementations (and corresponding literature) are using complex representations of the basis.  Joakim expressed it pretty well here:

Concretely, the "rest of the code" is exclusively implemented with real representations.  Also the Python community package pool generally expects reals (ie scikit, tensorflow etc etc).

EDIT @janden: Reformatt

[2021-07-14 13:47] garrettwrong commented on #439
Currently I have some util functions to convert between the representations for three specific tasks.  Having gone down that road, I would vote against the real and complex classes.  I think the thing to do is tackle the three tasks in reals.

- Steering (rotation and refl, its easy to express in complex)
- Eigen system in FSPCA.
- Bispectrum

The eigen system and bispect are sort of related (eige

[2021-07-14 13:51] garrettwrong opened #440 "Replace Legacy Bispectrum"
Perhaps better phrased as complete new bispectrum implementation.

During #411 I started to re-impliment bispectrum from scratch (white room style).  It reached a point where it computes the complete or truncated coefficient values and demonstrates the desired properties of invariance.  It was intentionally paused and not optimized because I thought doing this well depends on #438 and #439.

It is

[2021-07-14 13:57] garrettwrong opened #441 "Complex PCA - Avoid or Deprecate"
In #411 I brought in a hack around scikit's `PCA` to admit complex numbers so we could move the class averaging feature along.  (Scikit, along with most Python community tools, does not support complex).

Two ways to address this and get rid of the hack:
- Transform the data going into regular PCA.
- Use reals as suggested in #439

I am voting for the later, in which case this issue would be to re

[2021-07-14 14:06] garrettwrong opened #442 "Compressed Eigen Vector Matrix (BlockDiagMatrix)"
In #411 one of the main pieces of data is a block diagonal matrix of eigenvectors.

When we sort by eigenvalue and truncate to some number of top components I believe this matrix loses its structure.

Because it was only one matrix I cheated and got around this by expanding it to a dense representation.  This works but is somewhat unsatisfying.

One way to manage this might be to use masks and ind

[2021-07-16 12:58] garrettwrong commented on #436
Adding some notes.

I mentioned block tridiagonal matrices are not closed under multiplication during the most recent ASPIRE lunch meeting, and I think that sort of damped the interest in this as a software feature.  Further, it turns out the matrices in question are probably manageably small anyway.  I'll leave this issue open until we have chance to discuss it a little.

[2021-08-09 09:40] janden commented on #195
Ok thanks for catching.

[2021-08-09 09:45] janden commented on #439
Ok as long as we can do this in a clean enough manner. I suspect a lot of this logic can be implemented in a `SteerableBasisCoefficient` superclass and then inherited.

[2021-08-09 09:46] janden commented on #441
If I understood correctly from our last conversation, though, isn't there a non-equivalency issues between real and complex PCA?

[2021-08-09 09:48] janden commented on #442
One way to do this is to separately sort and truncate each block. There's really no need for a global sort (other than to determine the cutoff value, which can be applied block-by-block).

[2021-08-09 09:53] janden commented on #436
I guess the first question here is why? I suspect it has to do with improving performance of some computation, but as we start adding complexity, we may have a hard time reaching the desired performance improvement over dense. It really has to be tested to see if an important speedup is achievable here.

Ok then it's likely hard to get the desired improvement. If the interested party wants to put

[2021-08-09 12:23] garrettwrong commented on #441
Yes, I wrote this (issue) up before looking into the Complex PCA.  I was going to update it after we meet, but will add a little now.

For anyone interested complex PCA techniques seem to be surveyed pretty well by:

Papaioannou 2017
https://spiral.imperial.ac.uk/handle/10044/1/49235

The legacy code skirts around this issue by using the SVD approach, which works fine over complex numbers. (Also i

[2021-08-09 12:56] garrettwrong commented on #436
I think the original inquisitor has reached similar conclusion.  Probably safe to close this, just wanted to keep you in the loop.

[2021-08-09 12:56] #436 closed, assigned to nobody

[2021-08-09 13:09] garrettwrong commented on #442
By structure, I meant square block diagonal; it does lose its structure... If we truncate blocks, it is now not a square block diagonal...

The blocks are sorted by eigval, no problem there. In the current code we get the eigvals block by block so we won't know the global truncation value until the end, fwiw.

If you mean to create a new block diagonal with zero/mask vectors when the eigval is les

[2021-08-10 10:58] janden commented on #442
I was thinking of option two, but was perhaps ignoring implementation complexities here. Other than checking for compatible sizes, what would be involved?

[2021-08-10 12:11] garrettwrong commented on #442
I think 2 is straightforward if we ignore matmul.  Matmul is tricky because the combination of sizes and class types. It would potentially need to handle BlockDiagonal, IrregularBlockDiagonal, and Numpy.

I will take a crack at it, maybe it won't be so bad.

[2021-08-10 12:29] janden commented on #442
My thinking was just to extend `BlockDiagonal` to handle rectangular blocks. Would that be too messy?

[2021-08-10 12:39] garrettwrong commented on #442
No, I agree.  When I listed `BlockDiagonal, IrregularBlockDiagonal, and Numpy` was more conceptual cases. I don't think we'll need an entirely new class at this time.

[2021-08-11 17:33] garrettwrong commented on #442
FWIW, this ended up being pretty easy.  I'll have to thank the guy that wrote it for making extensible code, hahaha.

Once that PR is in it should be straightforward to use in the class averaging code.  I'll need to add a loop after we have the global eigvals to create a new reduced block diagonal.  At that point should be able to use `apply`/matmuls and remove some of the (dense) branching. Can b

[2021-08-26 13:54] garrettwrong commented on #431
Closed by #432

[2021-08-26 13:54] #431 closed, assigned to garrettwrong

[2021-08-27 16:22] garrettwrong opened #446 "Improve Indices Computation/Accessor structure consistency in Basis classes"
The computation and storage of indices in the Basis classes (FB2D, FFB2D, FB3D, FFB3D, etc) is only marginally consistent and has a lot of matlab-esque flavor that makes less sense in Python.

For example, classes are using and returning a dictionary instead of class attributes.  This is because the code was ported from something that returned a cell structure etc in MATLAB.  There is also some re

[2021-08-27 19:46] garrettwrong commented on #412
Discussed with Chris today.  He discovered one difference between the third party library and ours is the ability to have two loops in our implementation.  So the plan is to:

- [x] Check if that double loop is conformant to the spec (start with paper I guess)
- [x] Check if that double loop is something we need
- [x] Survey the level of effort to replace wholesale vs keeping our existing Starfile

[2021-08-27 20:01] garrettwrong opened #447 "Migrate Tutorial Scripts to Jupyter Notebooks"
We have a small collection of tutorial scripts in `tutorials/examples`. These largely come in two flavors, those that are small simulated data sets and under testing, and corresponding large examples targeting experimental datasets.

I'd like to move the examples from a script to nicely formatted (documented) Jupyter Notebooks.  These tutorials need to remain under testing.

This requires a few ta

[2021-08-30 14:28] chris-langfield commented on #412
Multiple loops in a data block are in example in original STAR paper: https://pubs.acs.org/doi/pdf/10.1021/ci00002a020

Also, tests/saved_test_data/sample.star contains two loops in a data block

double checking now to make sure I can't get the external library to work with multiple loops

[2021-08-30 14:45] janden commented on #412
Problem with that `sample.star` file is that it's not something representative of files we expect to see. I think we usually only have one loop in a data block. Attaching some sample files that we should be able to read.

[run_001_it025.zip](https://github.com/ComputationalCryoEM/ASPIRE-Python/files/7077500/run_001_it025.zip)

If it's still an issue, we can either try to fork that library or use G

[2021-08-30 14:46] janden commented on #412
I should add that since that `sample.star` is not representative, it should probably be replaced with one of the STAR files I attached above (probably the `_model.star` file).

[2021-08-30 14:48] janden commented on #446
Agreed. This is probably a good time to consider migrating these into the `SteerableBasis` class to ensure consistency. Not sure if we want to make it part of the same PR or do these things separately. One option would be to move these index functions into `SteeerableBasis`, then refactor them there.

[2021-08-30 14:53] janden commented on #447
Just recapitulating the discussions @garrettwrong and I have had previously. I think the cleanest approach here is to use something like sphinx-gallery. It will require some more up-front costs, but we have the advantage that the code can get tested a part of the regular testing suite, that notebooks are regenerated after any change, and that the commit history won't get polluted by these notebook

[2021-08-30 16:50] chris-langfield commented on #412
the starfile external packages reads all four of those nicely. however I tested it again against some starfiles with multiple loops and it definitely can't handle it.

as far as the time needed to refactor:

the ASPIRE StarFile class is used:

- In the constructor of the `RelionSource` class. In particular, the `__class__.starfile2df` image loads the star file as a pandas dataframe (much in the sa

[2021-08-30 16:59] chris-langfield commented on #412
and of course the starfile tests would have to be redone!

[2021-08-30 17:13] garrettwrong commented on #412
Okay so, it seems like this is worth doing.  I agree about changing the unit test to be representative.  We can look at the `CtfEstimator` change afterwards, once the implementation is changed.  I would hope it would be easier then... at least, that will be a practical test if it was an improvement... :)

[2021-08-30 18:37] janden commented on #412
Sounds good.

[2021-09-01 18:15] garrettwrong opened #450 "Simplify Developer section of README"
Developer install has some unnecessary lines, trim it down.  (Also example of using github for recent developers).

[2021-09-02 12:15] garrettwrong commented on #450
Closed by #451

[2021-09-02 12:15] #450 closed, assigned to garrettwrong

[2021-09-02 12:48] chris-langfield commented on #412
Issues identfied with starfile.py package as they relate to tests

- Type conversion IS performed in this package (our old tests have comments saying "note that type conversion IS NOT performed). "1" in the old dataframe corresponds to (int) 1 in the new dataframe
- blank entries in STAR file are not converted to '' (empty str) values, rather they cause the read() method to fail
- Order of blocks

[2021-09-02 13:03] janden commented on #412
Regarding type conversion, that shouldn't be a big problem.

I'm not sure about the blank entries. Does that happen in our sample data? If so, is there a way to maybe submit a bugfix to the upstream package (the read function failing seems to be unwanted behavior just because a field is missing).

Regarding order of blocks, we should probably be indexing by name anyhow.

[2021-09-02 17:24] chris-langfield commented on #412
In case this package doesn't work out, GEMMI has python bindings to read and write CIF files. The only thing is it has many other programs attached to it that I'm not sure if we need. Could be a good thing or a bad thing, for instance it has some code for PDB files #430

From their docs:

We would potentially have to make sure the STARs we use are CIF compliant

[2021-09-02 17:25] chris-langfield commented on #412
As far as addressing the behavior with blank entries in the upstream package, I think I want to make sure I can resolve the read/write problem we discussed first.

[2021-09-03 15:47] chris-langfield commented on #412
#### DRAFT bug report: Unexpected behavior with single-row blocks following other blocks in a STAR file

Hi `starfile` authors, we are planning to use your library in our package. When building some tests, we encountered the following issue. We're wondering whether this is a bug or whether we are possibly using the library wrong. Thanks!

#### Description

When reading in STAR files, blocks which

[2021-09-03 16:58] garrettwrong commented on #412
That is a very detailed bug report. Thank you.  We'll talk in a few minutes.  I think you should be able to pass that to them.  Really curious how you feel about the two different APIs (`starfile` vs `GEMMI`) now that you've used them both.

[2021-09-03 18:19] chris-langfield commented on #412
Issue has been submitted to the `starfile` authors. We'll see what they say and discuss next week whether it could be better to use `gemmi` because of the pdb support. The `gemmi` framework for reading starfiles is much more complicated, though, and could be overkill.

[2021-09-07 13:46] chris-langfield commented on #407
`RelionSource` is indeed a wrapper for a STAR file. The broad plan here will be:

Implement a new StarFile object and overload `__len__` to give the number of blocks. With each block represented as a dataframe, the length of a block with a list of MRC files would also be easily read and displayed.

[2021-09-09 00:01] chris-langfield commented on #412
The bug in `starfile` has been fixed. However, the package now requires python >= 3.7. I force installed it and tried it out but the package now uses `annotations` from `futures`, which is only available in python >= 3.7. Our conda env is frozen at 3.6

[2021-09-09 01:09] garrettwrong commented on #412
Another challenge. We (as developers) can use different python versions, conda or otherwise, but deprecating 3.6 is a larger question. It has other moving parts (3.9 for example). We should talk about it during our dev meeting.

I think you can still try this out locally in an empty python 3.7 conda env, followed by the developer pip install line.

[2021-09-09 14:03] janden commented on #412
I agree this might be a good feature. I don't know what other options are available for pdbs. I tried `prody`, but it also includes a lot of stuff that we may not need.

We should discuss this. It might be good to have a backend library that offers more flexibility down the road.

Yes this is another problem. What are the version requirements for gemmi?

[2021-09-09 19:18] garrettwrong commented on #442
Supporting changes merged, closing.

[2021-09-09 19:18] #442 closed, assigned to nobody

[2021-09-10 12:34] garrettwrong commented on #403
Closed by #449

[2021-09-10 12:34] #403 closed, assigned to j-c-c

[2021-09-14 13:01] chris-langfield commented on #412
I am currently working on implementing a GEMMI backend. However, here's something we could keep in mind:

https://github.com/alisterburt/starfile/issues/17#issuecomment-919039508

[2021-09-14 13:20] garrettwrong commented on #412
Very good. Thank you Chris!

[2021-09-23 20:07] chris-langfield opened #463 "Distinguish between key value pairs and loops in STAR files"
Currently we represent STAR files as `OrderedDict`s of pandas `DataFrame` objects. The implementation, when reading a STAR file, treats a regular set of key-value pairs, and a single-line loop the same way, mapping to a single-row `DataFrame`. Ideally we should be able to distinguish between these in our representation.

The key-value form in a STAR file looks like:
[code]

While a single row loop

[2021-09-23 20:14] chris-langfield opened #464 "Refactor `save_metadata` in `aspire.source.image`"
The `save_metadata` not only saves metadata as a STAR file but also manipulates a `pandas.DataFrame` in complex ways that depend on the `save_mode` and the `batch_size`. This logic should be cleaned up and made into its own function.

It may be a good idea to wait on this issue until #463  is addressed, as this code depends on the `DataFrame` representation of the metadata STAR file.

[2021-10-01 18:13] chris-langfield opened #466 "`DenoisedImageSource._images()` batches redundantly, causing `numpy` array error"
When calling `DenoisedImageSource.save()`, `ImageSource.save()` is called, which loops over all images in the `DenoisedImageSource`, stepping by `batch_size` (typically 512).

(*ImageSource.save()*)

[code]

If we step in on the second pass of this loop, `i_start == 512` and `num == 512` (assume `self.n` > 1024.

`ImageSource.images()`  assigns `indices` and then calls the subclass's `_images()` m

[2021-10-01 18:19] chris-langfield commented on #466
The specific error raised at that line is

`ValueError: could not broadcast input array from shape (512, self.L, self.L) into shape (0, self.L, self.L)`

[2021-10-01 21:00] sebseager opened #468 "Particle size parameter"
For configuring APPLE picker, are there any guidelines for setting the particle size? Should the value be in Angstroms or pixels, and is it a radius or aperture (diameter)? For example, if we analyze the [EMDB-2824](https://pdbj.org/emnavi/quick.php?id=EMD-2824) dataset, is it reasonable to set particle size to 180 or 318.6 (pixels vs. Angstroms)?

When I set particle size to 180 with 32GB memory

[2021-10-05 14:51] garrettwrong opened #470 "CTF Estimator CLI arg bug"
User email reported problem using `--output_dir` argument to CTF estimator.

I confirmed this was a bug I introduced. I accidentally removed an extra line when removing an unrelated unused parameter (`corr`) in 6919604.

I have a small patch to submit shortly which fixes this and also corrects the default directory behavior.

Eventually I think it would be best to get the Click CLIs under testing.

[2021-10-05 17:59] #470 closed, assigned to garrettwrong

[2021-10-07 14:38] j-c-c opened #472 "Apple Picker - create separate methods to return centers and image of picked particles"
Currently the `process_micrograph` method can only return either the centers or an image of picked particles.

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/4fdf77dc35fc14adc582e1750dea4f1f84d0fda7/src/aspire/apple/apple.py#L116-L127

If you want the `centers` and the `image` as in the apple_picker example gallery you have to run apple picker twice, as mentioned [here](https://github.c

[2021-10-07 15:39] garrettwrong opened #473 "Add Weighted Volume Tutorial to gallery"
Following #406 and #447 both going into develop we should be able to construct a simple tutorial demonstrating the use of the weighted volume estimation on a small example.  This could be similar to the unit test (+- rsqrt(n)).

Currently we only have a unit test and a larger validation oriented notebook which takes far too long to be useful for an example (besides being too much data).

[2021-10-08 13:47] chris-langfield opened #475 "EMPIAR-10073"
This dataset fails to load properly when initialized as a `RelionSource`.

Sample script to reproduce:

[code]
The failure is on the last line, calling `images()`.

[code]

The context of this line is `relion.load_single_mrcs(filepath, df):

[code]
Which is executed in the following parallelized code

[code]

[2021-10-08 13:51] chris-langfield commented on #475
- When executed with multiple cores, the filepath on which this error occurs is variable
- When executed on a single core, the last filepath printed out is `/tigress/cl5072/datasets/10073/data/Particles/img3_7836_cor_bin2_extractedparticles_22Aug15checkedautopick.mrcs`
- The file prior to this is `7835` and the file following it in the STAR file is `11Jul15_6122_cor_bin2_extractedparticles_11Jul15

[2021-10-08 14:14] garrettwrong commented on #475
First thing first, simplify... remove the threading entirely and repeat. That is, no `futures.ThreadPoolExecutor` etc.  Gut it. That whole area of code should reduce to a loop over files stuffing into an array (two lines?).  Then we can think on what that experiment tells us.

[2021-10-08 14:22] j-c-c opened #476 "Update lecture_feature_demo Tutorial to use `Rotation` methods"
The following should be deprecated and replaced with methods from [`Rotation`](https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/gallery_447/src/aspire/utils/rotation.py)

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/2af8b29a5b3e8962124e9c10b483f4c4b7299de0/gallery/tutorials/lecture_feature_demo.py#L40-L44

[2021-10-08 16:25] j-c-c opened #477 "Add class averaging to lecture_feature_demo.py tutorial"
Can we add an issue here to include class averaging in the script, which would complete this part?

_Originally posted by @janden in https://github.com/ComputationalCryoEM/ASPIRE-Python/pull/453#discussion_r722579892_

[2021-10-08 18:01] chris-langfield commented on #475
This was being caused by one of the `.mrcs` images in the dataset. Specifically, `11Jul15_6272_cor_bin2_extractedparticles_11Jul15unchecked_shiny200-22Jun11Jul-7frames.mrcs` only contained 1 particle. Therefore, it's `arr` numpy array had shape `(380, 380)` where our code expects `(1, 380, 380)`.

[2021-10-11 17:09] garrettwrong opened #480 "CI crashes, Potential shape/index bug in cov2d/denoiser"
I think we may be tickling a bug via test_covar2d_denoiser.  Chris and I have each seen CI crash recently and it just happened to me again, so we need to dig in now.

Here is an example log (from Chris):
https://github.com/ComputationalCryoEM/ASPIRE-Python/runs/3792207219

@chris-langfield , do you want to see if you can figure it out?

I'm thinking it may relate to the following, since we are doi

[2021-10-11 17:24] garrettwrong opened #481 "Ubuntu 16.04 Deprecation (Azure Pipelines)"
Microsoft Azure is letting us know they don't want us to use Ubuntu 16.04LTS anymore by breaking our CI:

https://dev.azure.com/ComputationalCryoEM/Aspire-Python/_build/results?buildId=3560&view=results

[code]

We'll want to update our stable ubuntu to 18.04 LTS (Bionic Beaver) for Azure.  It looks like our other uses of Ubuntu is `lastest`, which is fine. See:

https://github.com/ComputationalCr

[2021-10-12 13:47] chris-langfield opened #483 "Refactor `test_starfile_stack`."
While working on #478, which fixes #475, I wanted to add a small additional unit test to cover the new code. However, adding this test would have required adding redundant code. We decided it was better to get the bugfix in, and create this issue to properly refactor the test in question. @garrettwrong

Much of the code that should be in `setUp` is in the `run()` method. In addition, there are har

[2021-10-12 19:33] garrettwrong commented on #468
Hi Seb, I just mirrored 10017 (the source data for EMDB-2824) and am trying a few things locally to answer your questions.

I believe any configuration of sizes/margins etc is all with respect to pixels.  I'm afraid I personally don't have the background to recommend any scientific parameters for particle picking at this time, but I may be able to help with your other concern.

Using the APPLE def

[2021-10-13 16:45] garrettwrong opened #484 "Invalid sqrt for noisy images in cov2d"
Working with Yunpeng to process 10025 with cov2d denoiser we ran into a problem where the sqrt in shinkers becomes negative.

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/master/src/aspire/covariance/covar2d.py#L61

Was able to work around by adding an `np.maximum(0, ...)`.

I'm guessing that the estimated noise_var is too high, but otherwise is not clear why that happened or if the w

[2021-10-13 19:12] garrettwrong commented on #468
Hi Seb, I was not able to reproduce the memory footprint you reported yet. I tailed the process with particle size 180. and it appears to use 5GB resident memory for me.  Are you sure the machine is otherwise unloaded?

I am on OSX right now, but I will repeat on a linux machine as well when I get the chance.

To be sure we're doing something similar, how are you setting the particle size (config.

[2021-10-14 13:05] #466 closed, assigned to nobody

[2021-10-14 13:08] #475 closed, assigned to chris-langfield

[2021-10-14 13:11] chris-langfield commented on #463
As mentioned in #469 this is of continuing concern with regard to compatibility with other tools. Relion seems to have a robust STAR file reading system, that can handle data being represented as a key value pair or a loop.

[2021-10-14 15:55] #481 closed, assigned to j-c-c

[2021-10-14 16:13] chris-langfield opened #489 "`ImageSource` subclass to represent datasets with coordinate files representing picked particles"
The `RelionSource` class represents datasets comprised of stacks of picked and cropped particles output by Relion. However, some datasets instead provide whole micrographs in addition to files which store the coordinates of picked particles. For example, see [EMPIAR-10061](https://www.ebi.ac.uk/empiar/EMPIAR-10061/) and [EMPIAR-10089](https://www.ebi.ac.uk/empiar/EMPIAR-10089/).

We would like to

[2021-10-14 16:38] garrettwrong commented on #484
Looks like I am to blame for this.  The formula used when I was trying to fix this for clean images introduced this bug.  Seems like reverting resolves the negative sqrt issue.

https://github.com/ComputationalCryoEM/ASPIRE-Python/commit/029f17422dc3736e03e31e643562a627e8cf7433

I will try to find the error in the formula so maybe both cases (clean and high noise) can work. I would really prefer b

[2021-10-14 17:45] garrettwrong commented on #484
Yes, tried working out the lambda rescaling on paper, it looks like that formula was incorrect (extra noise_var term).  I'll push a patch in a minute.

[2021-10-14 18:19] j-c-c opened #491 "Implement package for isosurfaces and other 3D visualizations"
We discussed using a package like Mayavi (https://docs.enthought.com/mayavi/mayavi/) for 3D visualizations. This could be used, for example, in the gallery tutorial `starfile.py` in place of the 3 orthogonal projection plots.

[2021-10-14 20:59] chris-langfield commented on #489
The trend for EMAN users uploading to EMPIAR seems to be that, rather than uploading a STAR file, they simply include a `.box` file for each micrograph file in the set, named accordingly. These box files are either piled into the same directory as the mrcs, or in their own We'll have to consider how this will change our STAR file based way of interacting with data sources.

Examples:

[10061](http

[2021-10-15 17:53] j-c-c opened #494 "3D Gaussian Volume with Symmetry"
We need to generate a 3D volume that exhibits n-fold (C_n) symmetry to test current and proposed orientation estimation features.

[2021-10-21 14:45] garrettwrong commented on #484
Two fixes have been merged #490 and #488

[2021-10-21 14:45] #484 closed, assigned to garrettwrong

[2021-10-21 14:46] garrettwrong commented on #447
This issue was solved by implementing sphinx-gallery in  #453.

[2021-10-21 14:46] #447 closed, assigned to j-c-c

[2021-10-21 14:48] garrettwrong commented on #477
I should be able to do this after the alignment updates in #479  🤞

[2021-10-25 09:41] janden commented on #489
There's nothing in the math that prevents us from working with non-square images, but this would require a significant overhaul of the code, so I don't think it's happening right now. Some sensible behavior here might be to truncate the longer dimension and center along it. Another would be to error and force the user to specify a box size (which is what would happen if only a center coordinate is

[2021-10-25 09:45] janden commented on #491
It would be good to conduct a survey of existing packages here to evaluate which makes sense for us. For example, it looks like Mayavi is built on VTK ([Mayavi “harnesses the power of VTK without forcing you to learn it”](https://docs.enthought.com/mayavi/mayavi/overview.html#what-is-mayavi2)), but how much of the extra functionality do we need. Are there other alternatives, like plotly that might

[2021-10-25 15:18] garrettwrong opened #496 "Cov2D Experimental Data - Whitening - Noise Var"
User reported that in the case of running the Cov2D based denoiser on experimental data, that after whitening we are using the wrong noise variance.  This causes most of the eigenvalues to be thrown out and yields results that look like potatoes.

User suggested that using the whitening as it is now we should be setting noise variance to 1.  I suggested we consider an approach that does not requir

[2021-10-26 12:59] garrettwrong commented on #496
Confirmed issue.  So far I found two ways to "fix it" in the code but I don't like either (one expects too much from users, and the other seems like a hack).  Still considering options.

Essentially after running a `source.whiten(mynoisefilter.filter)` the noise_var is no longer `mynoisefilter.estimate()`.

[2021-10-26 22:44] chris-langfield commented on #489
What I have now is code that will exclude particles that do not fit in the micrograph dimensions, based on the box size specified in the `.box` or by the user. This happens before any images are loaded (the size of the micrograph is read and all the coordinate files are compared in the `__init__`). A message displays how many particles were excluded based on the box size.

I have not come across a

[2021-10-28 17:00] garrettwrong commented on #496
Have a potential patch, but following our meeting discussion, will look at altering cov2d to compute the noise variance internally so we can compare the solutions.

[2021-10-29 12:14] garrettwrong commented on #480
I don't know why, but I haven't seen this in a while.  Let's close it and re-open if it repeats.

[2021-10-29 12:17] garrettwrong commented on #437
This is resolved in some sense by #479

[2021-10-29 13:29] garrettwrong opened #501 "Issue templates"
As we start having more interactions with users we should consider creating an issue template for Bugs and Requests.  Github has some standard ones we can edit towards our needs.

[2021-10-29 20:08] sebseager commented on #468
I appreciate it. I'm still getting the bus error (below)

[code]

with the following parameters

[code]

Is this similar to what you did to achieve 5GB memory usage? Thanks for your help.

[2021-10-29 20:58] garrettwrong commented on #468
Thanks for your config. Confirmed that used over 30 GB for me.  If you are on a slurm cluster try requesting 32GB (or 48GB) for this configuration.

I will try to narrow this down further.

[2021-10-29 21:00] sebseager commented on #468
Thanks. For this dataset, would you mind sharing the config.ini parameters you recommend?

[2021-10-29 22:04] garrettwrong commented on #468
As I mentioned before, I don't personally have the background for scientific questions regarding the APPLE component settings, but I can help you narrow down which settings are increasing the memory usage.

I see in this paper some remarks about parameters https://arxiv.org/pdf/1802.00469.pdf that might help you.  They also claim it was performed with a 16GB machine.  I expect that was the MATLAB

[2021-11-01 14:06] chris-langfield opened #502 "`preprocess` command line option: expand and integrate with EmanSource"
We have a `preprocess` command that takes a number of arguments, but is tailored to the `RelionSource` class. The task here is to evaluate whether this command is as useful as it could be and to see whether it can be expanded to include options for preprocessing an `EmanSource` type dataset.

[`preprocess` command](https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/master/src/aspire/command

[2021-11-01 18:07] garrettwrong commented on #468
Hi Seb, I spent the morning in a debugger narrowing this down.  The memory consumption appears to be driven mainly by the `max_particle_size`.  Specifically, there is the `binary_erosion()` call relating to `segmentation_o` which is particularly sensitive to the `max_particle_size`.  For example reducing from 264 to 200 drastically reduced the memory footprint.

I can't speak to the algo performan

[2021-11-02 13:32] chris-langfield opened #503 "`importlib_resources` deprecation of methods"
The `importlib_resources` package is used in 6 tests. The purpose of the package is to load assets and files from within a Python package in a stable way. Currently, it is used in our tests to load test data.

As of October 2021, the methods `importlib_resources.path()`, `read_text()`, `read_binary()` [show warnings that they will be deprecated](https://importlib-resources.readthedocs.io/en/latest

[2021-11-02 15:44] garrettwrong commented on #367
@j-c-c , since you are working in `Volume` already, we can make a small PR to cover this.  I don't think it will be too much work.

Documentation regarding how to use mrcfile is here: https://mrcfile.readthedocs.io/en/latest/usage_guide.html

I think for an initial pass we should simply support writing to MRC only (not .map), and an associated unit test.

For completeness, some Map file details ca

[2021-11-03 12:25] janden commented on #502
We should be careful with this. There's a temptation to make the command-line tools work with a very wide variety of inputs, but this increase maintenance. A simpler approach might just be to have a converter of sorts that extracts the images and writes them to a star–mrcs pair.

On the other hand, the `relion_preprocess` command seems to take either star file or box files as input, so perhaps it

[2021-11-03 12:25] janden commented on #503
Are we sure this package is even necessary? What's preventing us from loading the files based on paths, etc.?

[2021-11-03 12:29] chris-langfield commented on #503
Per @garrettwrong this is the preferred way to load assets from within a Python package

[2021-11-03 12:46] garrettwrong commented on #503
Yes, I asked the same question...

It is possible to use relative dirs, but we already know that is ugly (and simply fragile) if you leave the local dir.

What is not so obvious is that there are also other problems with `__file__` when you package up the code (specifically documentation cites `zip` but it comes up in other unsuspecting places, usually with other tools/platforms that expect a well

[2021-11-03 12:52] chris-langfield commented on #502
That's true, technically if you `.save()` an `EmanSource` it saves as `.mrcs` stacks of particles with a STAR file, but with all null/default values for the metadata. I haven't tried loading that itself as a `RelionSource` yet.

I guess we would want to decide whether to try to populate some of that information (e.g. CTF) before saving?

[2021-11-03 15:51] janden commented on #502
As discussed during the meeting, it would make sense to just output a star file without those metadata values and work towards `RelionSource` accepting such bare-bones star files.

[2021-11-03 15:52] janden commented on #503
Ok got it. So we still need this.

As discussed in the meeting, from 3.7 onwards, we should be able to use `importlib.resources` instead.

[2021-11-03 15:53] janden commented on #468
Is this something we should be checking? More importantly, is there some alternative to `binary_erosion` that is less memory-intensive?

[2021-11-03 16:01] janden opened #504 "Search for local config file to override package defaults"
Currently `aspire.__init__` only looks for the config file in the package root (which will be in `site-packages` for most installs). Since it's quite cumbersome to go in and edit that file, it would be better if a search is made (for example in `XDG_CONFIG_HOME`) for some `aspire.ini` file that the user could use to override defaults.

[2021-11-03 16:03] janden opened #505 "Remove apple picker settings from config.ini"
These are currently under the `[apple]` section of the config file. The user should be able override all of these in the apple picker API and some of the from the command line.

[2021-11-03 16:04] janden opened #506 "Remove orientation estimation settings from config.ini"
These are currently under the `[orient]` section of the config file. The user should be able override all of these in the orientation estimation API and some of the from the command line.

[2021-11-03 19:44] chris-langfield commented on #502
What if we just had a command line utility to quickly convert an `EmanSource` type data source into a `RelionSource` compatible one. It could even have a flag that enables the preprocessing steps not requiring Metadata. So the flow could be

- Download dataset with micrographs and coordinates
- Run cmd line utility, which crops the images and optionally runs `downsample`, `whiten`, etc and saves t

[2021-11-03 19:45] chris-langfield commented on #502
It could wrap up the sophistication of the class I wrote, and for advanced users, the class/API for working with the coordinates source would still be there

[2021-11-04 11:07] garrettwrong opened #508 "Optimize Cov2D Noise Variance Estimation"
`RotCov2d` and `BatchRotCov2d` both potentially require calculation of noise_var.  Currently this noise_var is generally provided one of three ways:

1. User computes noise_var before cov2d and provides as optional arg
2. The `DenoiserCov2D` or CLI `denoise`interfaces compute it ( #498 )
3. User has some reason to believe they already know noise_var (eg, they feel it is `N(0,1)` )

Both 1 and 2 re

[2021-11-04 11:08] garrettwrong commented on #496
Should be covered by 498 and 507.  Created issue #508 regarding optimization suggested by Joakim to eliminate extra pass over `Source`.

[2021-11-04 11:08] #496 closed, assigned to garrettwrong

[2021-11-04 11:09] #437 closed, assigned to nobody

[2021-11-04 11:11] garrettwrong commented on #424
We should revisit this now that some bugs in cov2d have been fixed just to be sure we aren't chasing a red herring here.

[2021-11-04 12:02] garrettwrong commented on #468
Of course we can sanity check the params, but it's not clear that the settings are unreasonable here.  If I was to hazard a guess, Seb is probably just trying to reproduce the result from the paper and making some educated guesses here. (He did try to ask us, I just don't personally know what the params were...)

Regarding morphology, there are other packages we could consider (eg skimage) if we a

[2021-11-04 19:45] ccameron commented on #468
Hi Garrett,

I am working with Seb to improve the performance of the apple-picker model.

Thank you for sending the paper (https://arxiv.org/pdf/1802.00469.pdf). We now downsample micrographs via EMAN2 and use smaller particle box sizes before picking to achieve reasonable performance from the model. Micrograph downsampling addresses the bus error/memory issues, and smaller box sizes improve model

[2021-11-04 20:15] garrettwrong commented on #468
Thanks for the suggestions, I'd be happy to add those improvements.

[2021-11-05 13:05] garrettwrong opened #511 "Max OSX 11 CI Migration"
See:
https://github.com/actions/virtual-environments/issues/4060

Soon Azure and GitHub actions will be moving their OSX to version 11.  We can get ahead of this migration and ensure that our code/CI transitions smoothly.

[2021-11-05 18:11] chris-langfield commented on #463
Closing, addressed in #493

[2021-11-05 18:11] #463 closed, assigned to nobody

[2021-11-05 18:11] chris-langfield commented on #483
#486 was merged

[2021-11-05 18:11] #483 closed, assigned to chris-langfield

[2021-11-08 16:44] garrettwrong commented on #505
In order to add a unit test for #468 (no centers case) it would be more straightforward to admit the particle size params so I am just going to tackle them together.

[2021-11-09 13:31] garrettwrong commented on #324
following #513 , the process and thread settings should be exposed in both the class and CLI interfaces.

[2021-11-09 14:26] garrettwrong commented on #472
Might as well do this too while I'm patching that code up.

[2021-11-09 16:31] garrettwrong commented on #2
These have been migrated away from config and into class/CLI in #513

[2021-11-09 16:31] #2 closed, assigned to garrettwrong

[2021-11-10 19:56] garrettwrong opened #516 "(F)PSWF Performance and Validation"
Researcher has requested that we review the performance, validity, and state of integration of the (F)PSWF codes.  There are a few open issues on this topic from before I joined which I will tag to this issue.  My recollection is that these components are not well tested in Python.

I already have a branch (#515) where I have stubbed in changes to speak `Image` and refactored FPSWF to use `nufft`'

[2021-11-10 19:59] garrettwrong commented on #516
#67 #74 #73

[2021-11-11 12:26] janden commented on #502
I think this makes sense. This is essentially what `relion_preprocess` does IIRC.

[2021-11-11 12:36] janden commented on #508
Ok this makes a lot of sense. I had misunderstood #498 (I assumed that it concerned `RotCov2D`, not `DenoiserCov2D`). I agree that the noise variance estimation should ideally happen at a lower level (`RotCov2D` or `BatchedRotCov2D`). The former has no one-pass requirement, so it should just be a matter of moving the noise variance estimation down one level. The latter is a bit trickier though, wi

[2021-11-11 12:40] janden commented on #468
Right. At this point, all we can do is add a note to the documentation.

Yeah it's just strange to me that this operation has such high memory requirements. From what I remember, this is just a post-processing step in the pipeline, so it's not something we expect to dominate.

[2021-11-11 12:42] janden commented on #505
Sounds good to me.

[2021-11-11 12:50] garrettwrong commented on #468
It is not immediately clear what parameters can be used to reproduce the paper results (or close to it).  I have personal issue with this, but I'm not in the best position to spend time backing that out brutishly.  This is something that would make a tasty "experiment" in our gallery...

I don't know why this morphology algo uses so much ram, but it might be something another implementation does n

[2021-11-11 13:21] janden commented on #516
If I understand correctly, the PSWF and FB have the same angular components but differ in their radial components. As a result, a lot of the implementation of (F)FBBasis can be carried over to F(PSWF)Basis. The problem is that they're structured very differently and have different outputs (as you mention). So in theory, this is all possible, but it's going to be a significant amount of work (coupl

[2021-11-11 13:23] janden commented on #468
Agreed. So I suggest we document and either keep this issue around or make a new one. When Ayelet gets back, we can ask her to take a look.

[2021-11-11 19:42] chris-langfield commented on #480
Seems to have occurred again

https://github.com/ComputationalCryoEM/ASPIRE-Python/runs/4180920427
https://github.com/ComputationalCryoEM/ASPIRE-Python/actions/runs/1449796909/attempts/1
https://github.com/ComputationalCryoEM/ASPIRE-Python/runs/4269196197
https://github.com/ComputationalCryoEM/ASPIRE-Python/runs/4383338503
https://github.com/ComputationalCryoEM/ASPIRE-Python/runs/4436084326
https:

[2021-11-11 20:23] garrettwrong commented on #480
`  E           IndexError: boolean index did not match indexed array along dimension 1; dimension is 2474 but corresponding boolean dimension is 94327066072832`

Yep, that's the one. Looks like we have a bug somewhere. 🐛  Thanks for reporting and linking the logs.

[2021-11-15 20:15] garrettwrong opened #518 "`Volume.project` vol_idx"
`Volume.project` takes a `vol_idx` that is currently expected to be an integer.  I think that argument should support slices (ie Python's `Slice`).

Similarly, for `Volume.rotate` coming in #499  .

This is a "nice to have" and not blocking anything at the moment.

[2021-11-15 20:36] chris-langfield opened #519 "Separate Relion-specific defaults from `ImageSource`"
*WIP*

The `ImageSource` class of `aspire.source.image` contains a number of Relion-specific parameters and defaults. This causes some issues when attempting to subclass for other types of data sources.

This issue can start as a description of parts of this class that currently rely on or set these defaults.

One of the main issues is the assumption baked into the `ImageSource` code that the data

[2021-11-16 01:06] Mehdi2402 commented on #518
Hi, I would be glad to help with this.
Is someone already working on it ?

[2021-11-16 10:05] janden commented on #518
Ideally, this index should go away, so not sure it's worth spending that much time on.

[2021-11-16 14:36] garrettwrong commented on #518
Right, yeah, I saw your comments in the review.  I thought maybe break it up into smaller changes, but Josh seems ready to do it in 499 so I'll close this out.  Thanks, and thank you for the interest @Mehdi2402 .

[2021-11-16 14:36] #518 closed, assigned to nobody

[2021-11-17 14:33] garrettwrong commented on #412
I think we covered this issue, thanks!  Closing

[2021-11-17 14:33] #412 closed, assigned to chris-langfield

[2021-11-17 14:45] garrettwrong commented on #407
Rebalancing this to Josh.

I think we can keep it simple and just add `__len__` to image source that returns `self.n`.  Then we can log _once_ how many images are in the source... say during instantiation.  That would be adequate to give the feedback for _all_ sources without getting in the weeds of different sources or block sizes etc.

[2021-11-17 14:47] garrettwrong commented on #22
I think this is resolved via importlib etc . If it comes up again we can make a fresh issue.

[2021-11-17 14:47] #22 closed, assigned to nobody

[2021-11-17 14:49] garrettwrong commented on #25
At some point I stripped out the test data from the actual package.  I just confirmed in the v0.8.1 zip it is not there.  Somehow I missed closing this.

[2021-11-17 14:50] #25 closed, assigned to nobody

[2021-11-17 14:51] garrettwrong commented on #43
@chris-langfield , does this issue relate to your recent work with `eval_filter_grid`?  Thoughts?

[2021-11-17 14:53] #47 closed, assigned to nobody

[2021-11-17 14:55] garrettwrong commented on #56
I think this is largely handled by calling evaluate/evaluate_t on chunks of a stack.  There is perhaps some use for better coefficient handling, but I'm not sure it is a CoefficientSource-ish thing.  I'll leave open for now, but I am someone inclined to close this.

[2021-11-17 14:57] garrettwrong commented on #64
@chris-langfield I think this relates to #519

[2021-11-17 15:00] garrettwrong commented on #71
@janden , is this really the upsampling that we would want?... (my intuition is _no_, not if we care about Fourier space...)

[2021-11-17 15:05] garrettwrong commented on #196
@j-c-c , this relates to some discussions we've had and also your current discussions with Joakim so I am assigning to you.

[2021-11-17 15:07] garrettwrong commented on #195
@j-c-c , this relates to the debugging you did last week. You will over time work with these files.  We can either tackle this by replacing with our `Rotation` class wholesale, or incrementally as you work with the various files.  Assigning to your queue.

[2021-11-17 15:25] chris-langfield commented on #43
From what I can tell, the methods have very different functions despite the names:

`eval_filter_grid` returns the grid of values that will be multiplied by the FT of the image. The filter's kernel in frequency space is a function only of the frequency gridpoints, not the Image itself. It only uses the *shape* of the source and then the source's filters to create this kernel. This is moved to `fil

[2021-11-17 19:41] garrettwrong commented on #195
In #499 we discussed adding `Rotation.about_{x,y,z}` utilities to clean up some of these existing and recently added uses of scipy rotations.

[2021-11-18 16:49] j-c-c opened #521 "Restrict simulated gaussian volume to unit sphere."
Currently, volumes simulated through the `Volume` and `Simulation` classes populate with randomly generated gaussian blobs centered arbitrarily in the volumes 3d array (potentially extending to the corners and edges of the box). Rotating this volume yields inaccuracies in the corners of the resulting rotated volume. Constraining our simulated volume to the unit sphere should resolve this. Possible

[2021-11-29 16:45] chris-langfield commented on #322
I stumbled on this issue while looking for something else. I did a bit of digging and found that there are a few Relion metadata labels that could correspond.

Running `relion_refine --print_metadata_labels | grep Pixel` (with Relion 3.1) shows me:

[code]
It seems like what we may want is `rlnImagePixelSize`, if we find it in the STAR file we are given. It may depend on what stage in the Relion p

[2021-11-29 16:53] garrettwrong commented on #322
😨

[2021-12-02 19:32] chris-langfield opened #524 "`ImageSource.images()` can only load sequential images"
`ImageSource.images()` takes mandatory `start` and `num` parameters.

However, after `start` and `num` are specified, an `indices` array is created via:
[code]

This is then passed as a kwarg to the subclass `_images()`.

This makes it impossible to ask for specific, nonsequential indices when calling the public method:

[code]

The private `_images` methods of `ImageSource` subclasses, including

[2021-12-03 15:42] garrettwrong opened #525 "3D Reconstruction Crashes"
The following is a stub for sanity testing for 3D volume reconstruction.  (Place in tutorials folder.)   This code was adopted from `test_mean_estimator.py`, which also uses `Simulation`, but with defaults (gaussian blobs) and very low res (8x8x8).

The code should generate controlled projections from our favorite test data `clean70SRibosome_vol_65p.mrc` and attempt to run the mean volume reconstr

[2021-12-03 15:46] chris-langfield commented on #502
This idea is implemented with the `extract-particles` cmd in #520, with the exception that it does not have preprocessing options. This could be done afterwards using the `preprocess` command and it's probably not worth packing these options into `extract-particles` as well.

[2021-12-03 16:36] chris-langfield commented on #64
Loading a `RelionSource` (which uses the new `StarFile` implementation) can handle any number of metadata columns missing. This is the code that loads in the columns:

[code]
The only explicit column that is required is `_rlnImageName` because this contains the index and stack of each particle.

I was able to load a `RelionSource` from a star file with `_rlnOriginX` and `_rlnOriginY` columns remov

[2021-12-03 16:36] #64 closed, assigned to chris-langfield

[2021-12-03 16:39] chris-langfield commented on #38
The behavior isn't exactly duplicated, but it does make more sense to make it a module method in `filters`, that takes a source, evaluates the `unique_filters` at `filter_indices`, and returns the filter kernels evaluated on a grid whose dimensions are based on the source. Will be closed by #517

[2021-12-07 15:11] garrettwrong commented on #525
Following up, last week I bisected resolution this script from 8^3 to 65^3 and found the crash begins to occur around 60/61. I did not have time to validate the lower res results or proceed with debugging yet.

[2021-12-08 10:07] janden commented on #56
Yeah not sure this level of abstraction is needed, even in the far future. Can reopen if that's the case.

[2021-12-08 10:07] #56 closed, assigned to nobody

[2021-12-08 10:09] janden commented on #71
This followed by a lowpass filter would give us a reasonable upsampling mechanism and it would be the adjoint (I think) of our current downsampler. Might be worth looking into once we have the downsampler down. I forget what the use case here was though?

[2021-12-08 10:11] janden commented on #196
First thing here would be to clarify what convention the method is actually doing (i.e., is it using R or R^T? in our z-y-x convention, does it transpose x and y when projecting?). Then we can decide whether we want to change it and look at the consequences.

[2021-12-08 10:17] janden commented on #43
Yeah that sounds like a misnamed method, what about `apply_filters`? If it's only used internally, it should also be private, so `_apply_filters`?

[2021-12-08 10:22] janden commented on #322
Yeah I'd go for `rlnImagePixelSize`. If it's there, we can use it, otherwise we require it provided by the user.

[2021-12-08 10:29] janden commented on #524
So the reason for the (public) `(start, num)` interface is that we want to highlight that the natural way to get images is by sequential batches. Often this will result in faster access and more efficient processing. However, as you point out, this is not always desired. The probability that someone will “accidentally” as for non-sequential images is quite low.

It's not clear to me why the `indic

[2021-12-08 10:34] janden commented on #502
Normally, I would agree in keeping these functionalities separate. However, the issue is that `preprocess` has one very important step, downsampling, which can significantly reduce storage requirements. To keep essentially two copies of the data (one in the micrograph and one in full-resolution projection images) may be prohibitive in applications.

[2021-12-08 13:38] garrettwrong commented on #524
An obvious place we want to use indices is after classification.  The thing is if we roll our own loop there, then roll it somewhere else for another problem, we might have well just centralized it into the sources...

[2021-12-08 15:10] janden commented on #524
Of course, I would lean to switching this to accepting a set of indices, again as long as we're able to detect when sequential loading is possible and take advantage of this. I think we currently are able to do this with the `groupby` approach in `_images`.

[2021-12-08 21:41] janden opened #528 "Ill-conditioned FFBBasis3D at high resolution"
When running using the `FFBBasis3D` for `N = 32` and `ell_max = 1` (same thing happens for larger `ell_max`, but this simplifies testing), we obtain an ill-conditioned matrix. This should not happen since the Fourier–Bessel basis is close to orthogonal and should have a condition number close to one.

As an example, consider:
[code]
This prints out about 1e18. If we replace `FFBBasis3D` with `FBBa

[2021-12-09 16:54] chris-langfield commented on #43
#526 was merged, I believe the issue was addressed.

[2021-12-09 16:54] #43 closed, assigned to chris-langfield

[2021-12-10 14:24] janden commented on #528
If `ell_max = 15`, this is reported to be working fine.

[2021-12-13 13:40] chris-langfield commented on #503
https://docs.python.org/3/library/importlib.html#module-importlib.resources

`importlib.resources` is new in 3.7. We can make these warnings go away now via the cut and paste conversions from the outdated api to the current one provided here by the `importlib_resources` backport: https://github.com/python/importlib_resources/blob/66ea2dc7eb12b1be2322b7ad002cefb1d364dff/importlib_resources/_legacy.

[2021-12-13 13:53] garrettwrong commented on #503
Link is dead (typo), but can be found via the link in the first post.

Great, lets get rid of the warnings to close this issue. Can put these in a new file in utils for now (with the idea we'll delete it later). As part of the PR can make a new issue about migrating to `importlib.resources` for after the 3.9 adoption (3.6 drop).

[2021-12-13 16:50] garrettwrong commented on #511
Looks like this took effect today.  I'll see if I can fix this afternoon.

[2021-12-13 20:07] chris-langfield opened #531 "`Estimator.L` can be `Estimator.src.L`"
Followup to the discussion on #517

The `Estimator` class derives its `L` property directly from the `Source` from which it is instantiated.

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/3223d6c2c308af66f321ca2b0ddf3933045f904b/src/aspire/reconstruction/estimator.py#L24

Similarly `NoiseEstimator` https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/master/src/aspire/noise/noise.

[2021-12-15 13:24] garrettwrong commented on #367
Closed by 514

[2021-12-15 13:24] #367 closed, assigned to j-c-c

[2021-12-15 13:25] garrettwrong commented on #472
Closed by 513

[2021-12-15 13:25] #472 closed, assigned to garrettwrong

[2021-12-15 13:26] garrettwrong commented on #505
Closed by 513

[2021-12-15 13:26] #505 closed, assigned to garrettwrong

[2021-12-15 13:26] garrettwrong commented on #511
Closed by #530

[2021-12-15 13:26] #511 closed, assigned to garrettwrong

[2021-12-21 17:46] yunpeng-shi opened #533 "There is a bug in "whiten" function when working with simulated source"
The image-whitening function is  as follows:
[code]

The last line ``self.generation_pipeline.add_xform(FilterXform(whiten_filter))`` multiplies the whitening matrix W to the noisy image y_i.

The problem comes from the following:
The image y_i in the current code is generated by W*A_i*x_i + noise, since the CTF A_i is replaced by WA_i by the following code
[code]
As a result, the whitened image i

[2022-01-03 17:01] garrettwrong commented on #533
Hi @yunpeng-shi , thanks for reporting and providing these details.  We talked about this issue in this morning's ASPIRE meeting and @chris-langfield is going to try to reproduce the issue as you've described then work on improvements. We will keep you posted.

[2022-01-04 15:45] garrettwrong commented on #320
I got some GH notifications that PyFFTW has been updated towards 3.9 and 3.10 so I am going to try and move this forward.

[2022-01-04 19:54] chris-langfield commented on #533
Thanks for the report @yunpeng-shi. I've been taking a look and will summarize the relevant information on this thread.

For future reference, I am using this paper as a guide for the intended behavior:

Bhamre, Zhang, and Singer [*Denoising and Covariance Estimation of Single Particle Cryo-EM Images*](https://arxiv.org/pdf/1602.06632.pdf) JSB (2016)

[2022-01-05 16:14] chris-langfield commented on #503
#534 will be merged soon. At that point, I think we can just delete `src/aspire/utils/importlib_legacy.py` and make minor naming changes. This issue will then be resolved by our moving to `importlib.resources`

[2022-01-05 21:18] chris-langfield commented on #533
#### Reproducing the behavior using simulated data with very low white noise

This is a step by step reproduction of @yunpeng-shi's result from our email exchanges.

A `Simulation` was created with `noise_filter = ScalarFilter(dim=2, value=1.0e-10)`, and otherwise following the Cov2D tutorial. The effective filter `W` should correspond, then, to multiplying component wise by `1.0e5 = 1.0e-10 ** -0

[2022-01-05 21:39] yunpeng-shi commented on #533
Thanks @chris-langfield, for reproducing the experiments.

[2022-01-06 13:33] garrettwrong commented on #533
Awesome. Yes, thank you Chris!

[2022-01-06 16:29] garrettwrong commented on #320
3.9 and 3.10 are now under GH actions CI.

[2022-01-06 16:29] #320 closed, assigned to garrettwrong

[2022-01-07 18:40] chris-langfield commented on #533
I was able to run the code in my last post and get the expected scaling of the whitened image using the branch in #537. @yunpeng-shi, let us know if this solution works on your end?

Thanks

[2022-01-07 21:42] yunpeng-shi commented on #533
Thanks @chris-langfield ! It works on my end.

[2022-01-12 10:36] janden opened #539 "Add 3.10 to list of tested versions in installation.rst"
Says we only test 3.7, 3.8, and 3.9.

[2022-01-12 19:23] garrettwrong commented on #528
Starting to look into this now. I found one glaring numerical bug in `norm_assoc_legendre` for large `ell_max`, which I have a patch for, but it was not driving this issue. Continuing...

[2022-01-13 12:07] janden commented on #528
Thanks! One thing you can try is to increase `n_r` and `n_theta` and see if things improve. Right now, these are more rules of thumb rather than known constants.

[2022-01-13 16:22] #539 closed, assigned to garrettwrong

[2022-01-14 15:52] chris-langfield opened #542 "Create "simulation filters" distinct from `unique_filters` for `Simulation`"
After discussing with @garrettwrong and @janden we have decided to address #533 with a more general approach, in which the filters being applied to simulated data in the first instance (i.e. the simulation) will be stored separately from filters to be used in actual data processing.

This will be carried out on the #537 branch.

[2022-01-14 15:54] chris-langfield commented on #503
The merging of #535 will hold us over until Python 3.11
https://github.com/ComputationalCryoEM/ASPIRE-Python/pull/535#issuecomment-1007619307

Close out this issue or keep it open for when that comes up?

[2022-01-14 16:03] garrettwrong commented on #503
Lets close this one. If you want, you can make a new issue and add a tag for Python3.11

[2022-01-14 16:12] j-c-c opened #543 "Update click commands in Getting Started"
Documentation for the click commands `denoise`, `orient3d`, and `preprocess` need to be added to the Getting Started section. The commands `simulation` and `crop` have been removed, but are still documented in Getting Started.

[2022-01-18 13:57] chris-langfield opened #544 "Handling corrupt or bad-header MRC files"
Some datasets contain `.mrc` and `.mrcs` files that the Python library `mrcfile` will not open for various reasons. Currently, we allow `mrcfile` to throw whatever error it decides when trying to load such files.

Not all of these errors mean that the mrc is unusable though. We may want to report in more detail to the user what the problem is, and/or provide some kind of utility. Alternatively, we

[2022-01-18 14:32] chris-langfield opened #545 "Filename of saved `.mrcs` from `ImageSource.save()`"
The current behavior of `ImageSource.save()` is that it accepts a STAR filename for output, grabs the stem of this filename, and tacks on `_{first_index}_{last_index}.mrcs`. This is true whether the savemode is "single" or "multiple".

Following discussion in #520, we may want to have `ImageSource.save()` return these filename(s) and/or change the behavior, at least for "single" savemode.

[2022-01-18 15:50] #506 closed, assigned to j-c-c

[2022-01-18 15:50] #407 closed, assigned to j-c-c

[2022-01-18 16:02] #503 closed, assigned to chris-langfield

[2022-01-18 16:06] chris-langfield opened #546 "`importlib.resources` deprecation of methods"
According to the link below, the methods we currently use (`path`, `read_text`) as part of the `importlib.resources` Python package resource manager, will be deprecated in Python 3.11.

However, the replacement method, files(), is not available until Python 3.9. Once our lowest supported version is 3.9 we may want to update the methods to avoid warnings.

https://docs.python.org/3.11/library/impor

[2022-01-24 16:00] #38 closed, assigned to chris-langfield

[2022-01-24 16:01] garrettwrong commented on #480
I think this only occured in the final days of python36. Closing, lets reopen this issue if we see that indexerror ever again.

[2022-01-24 16:01] #480 closed, assigned to chris-langfield

[2022-01-24 16:02] #324 closed, assigned to garrettwrong

[2022-01-24 16:16] garrettwrong commented on #201
This is largely obsoleted by the gallery tutorials.

[2022-01-24 16:16] #201 closed, assigned to nobody

[2022-01-24 16:25] garrettwrong commented on #108
Remaining tasks here are covered by small/moderate discrete issues in combination with larger long term projects (EM method). Closing.

[2022-01-24 16:25] #108 closed, assigned to junchaoxia

[2022-01-24 16:28] garrettwrong commented on #477
Adding a note. Thinking about adding this I am worried it may take too much time to run.  It might be more natural to have a second demo that performs the class average, CL, and 3D reconstruction when they are stable enough.

[2022-01-24 17:11] chris-langfield commented on #76
Looking in the body of `whiten()` in `src/aspire/source/image.py` now, it appears this change was made:

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/3223d6c2c308af66f321ca2b0ddf3933045f904b/src/aspire/source/image.py#L427-L428

[2022-01-24 17:11] #76 closed, assigned to chris-langfield

[2022-01-25 14:10] janden commented on #545
A more forward-compatible solution would be to return an `info` dict with different fields that could be added later on. On the other hand, I'm not sure what else might be returned here, so it's perhaps safe enough to just return a list of MRC files used.

[2022-01-25 14:40] garrettwrong commented on #74
Should be reasonable to do this after #523

[2022-01-25 14:45] garrettwrong commented on #340
@chris-langfield , I wonder if your improvements to the box/coord sources might resolve this (once merged).

We might want to check that APPLE picker works for the data sets we have targeted, and what parameters might be reasonable.  For the parameters you would probably want to work with Ayelet in the future.

[2022-01-25 15:09] janden commented on #477
An alternative would be to reduce the size of the dataset (and reduce the noise level) to make it all run in a reasonable time, but perhaps we're pushing the limits of realistic examples here.

[2022-01-26 14:36] chris-langfield opened #549 "Problems with `filter_indices` initialization and access"
From what I can tell, there are two bugs here:

#### `filter_indices` of length 1
When `ImageSource.filter_indices` is set to be a list of length 1, the `filter_indices` getter returns an object which is not subscriptable, causing errors when other methods attempt to access `filter_indices` elements. This is because of the behavior of `np.squeeze()` on an array with one element.

`ImageSource.filt

[2022-01-26 14:40] ayeletheimowitz commented on #468
Actually, we could just subsample the result of our classification. Then we can use a smaller mask size for the erosion and save runtime and memory

[2022-01-26 17:10] #489 closed, assigned to chris-langfield

[2022-01-26 23:33] chris-langfield commented on #140
Did a bit of work on this issue today. Came away with two perhaps unsurprising conclusions

1. As a baseline I confirmed `Image.downsample()` did not change between March 2020 and now. It produces the exact same result.
2. The MATLAB `cryo_downsample.m` code does **not** produce the same output as `Image.downsample()`. Since this method is also used by `ImageSource.downsample()`, the downsampling

[2022-01-26 23:38] chris-langfield commented on #545
Would that be a good place for a history of the source (filters/transformations applied etc.)?

[2022-01-27 14:55] chris-langfield commented on #140
Adding the original Python vs MATLAB downsampled images (resolution is 33)
The images above are the element-wise difference between the Python and MATLAB images

Python:
![Screen Shot 2022-01-27 at 9 53 31 AM](https://user-images.githubusercontent.com/34426450/151383584-7234b6c7-e5c2-41ce-8993-0d5e3c85a606.png)

MATLAB:
![Screen Shot 2022-01-27 at 9 53 44 AM](https://user-images.githubusercontent.

[2022-01-27 19:56] chris-langfield commented on #140
The second method from the old code in fact produces the exact same output as the MATLAB! This is in `aspire.aspire.preprocessor`

Once it ran, the code I had checked out (`0eb59315`) produced the following images that seemed to be reflected in an odd way
![Screen Shot 2022-01-27 at 12 18 12 PM](https://user-images.githubusercontent.com/34426450/151431969-54a87652-b658-46fa-805f-5cadcd14ce9f.png)

[2022-01-28 16:16] chris-langfield commented on #140
Implementing the old method from `preprocessor.py` in the current code replicates the MATLAB. In fact we gain approximately a 40% speed up in downsampling by doing this.

I have made the change on the `downsample_matlab` branch. It's not ready to go in as some tests that rely on comparisons to hardcoded sample data will fail. Another issue is that by using `numpy.fft` methods it goes outside the `

[2022-02-01 16:31] chris-langfield opened #553 "`FFBBasis2D.evaluate()` returns an `Image` but other bases return `ndarray`"
https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/3223d6c2c308af66f321ca2b0ddf3933045f904b/src/aspire/basis/ffb_2d.py#L187-L190

Compare:

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/3223d6c2c308af66f321ca2b0ddf3933045f904b/src/aspire/basis/fb_2d.py#L238-L240

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/3223d6c2c308af66f321ca2b0ddf3933045f904b/src/aspire/basis/f

[2022-02-01 17:18] garrettwrong commented on #553
Basis should return Image/Volumes. The original author was consistent in not implementing them, unfortunately.

[2022-02-02 17:31] chris-langfield commented on #528
With some experimenting I got the following general picture (`ell_max=1`)
- Increasing `n_r` by factors of 2, 4, etc, gives improvements in the condition number, but with diminishing returns.
- Increasing `n_theta` did not seem to have any effect
- Multiplying `n_r` *by* `N` seems to do the trick up to a high resolution (N=64 was the highest I could reasonably test on my machine).

Specifically, w

[2022-02-02 19:50] chris-langfield commented on #528
In fact, looking at `FFBBasis2D._build()`:

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/3223d6c2c308af66f321ca2b0ddf3933045f904b/src/aspire/basis/ffb_2d.py#L39-L42

so `n_r = 4* (0.5*n_res)(0.5) = n_res`.

In FFB 2D we set the number of radial quadrature points to be exactly the resolution..

Whereas for FFB 3D:

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/3223d6c2c308a

[2022-02-03 13:53] janden commented on #549
Good. `np.squeeze` is prone to these bugs when no axis is specified. It might be a good idea to grep after other occurrences and see if there are easy fixes.

[2022-02-03 13:56] janden commented on #468
Right, but isn't there still a risk that the erosion will explode in the same way (albeit with lower total memory)?

[2022-02-03 13:58] janden commented on #545
No I don't think so. Most of that should be contained in the STAR file already. All we want here is additional information from the `save` operation. This might become relevant later on when we start saving the filters as MRC files, so maybe it's good to make this forward-compatible (i.e., with a dict).

[2022-02-03 15:59] janden commented on #140
As discussed in the meeting, we will replace the old downsampling with the new cropping-based version. There are three steps:
– Implement a `crop_2d` function in `aspire.utils.coor_trans` that does cropping properly with respect to centers, even/odd sizes, and so on. Add tests.
– Transition the downsampling tests from hardcoded to logical tests (i.e., make sure that the all-ones image downsamples

[2022-02-03 16:00] janden opened #554 "`aspire.utils.coor_trans` objects should be accessible from `aspire.utils`"
In keeping with the general convention that the public API should be accessible from the second-level, `grid_1d` and friends should be imported into `aspire.utils.__init__`.

[2022-02-03 16:03] janden commented on #528
So the sampling condition dictates what basis vectors are calculated. Once that is determined, there are formulas for how the number of grid points is chosen. Here the bug seems to be with the latter calculation instead of the former.

Right it makes sense to do something similar for FFB3D then. Let's make an issue to find out what the proper number of quadrature points should be.

[2022-02-03 16:49] chris-langfield commented on #528
I believe this line from https://arxiv.org/pdf/1412.0781.pdf (just after Eq. 19) indicates the selection of the quadrature points is a rule of thumb type thing, as you mentioned higher up in the issue.

<img width="349" alt="Screen Shot 2022-02-03 at 11 47 53 AM" src="https://user-images.githubusercontent.com/34426450/152388647-34e36766-8006-4a6c-b82a-0c46f33131f7.png">

[2022-02-03 17:33] chris-langfield opened #555 "Optimal number of quadrature points for `FFBBasis3D`"
#528 can be closed by selecting radial quadrature points for evaluation of the FFB 3D coefficients in a similar manner as we do for FFB 2D. In a nutshell, the number of points should scale with the resolution, which was not happening in the 3D case, leading to the ill-conditioning.

However, we don't have a theoretical or empirical idea of what the optimal number of radial quadrature points should

[2022-02-03 17:36] chris-langfield opened #556 "Validation of `CoordinateSource` behavior."
We should validate the behavior of `CoordinateSource` more stringently with regard to real datasets.

The relationship between the `Lower left corner` standard of `.box` files with the `upper left corner` origin of MRC files also needs to be clarified.

One first step is to crop a bunch of particles from a real micrograph and average the results to make sure we are picking particles.

[2022-02-03 18:14] chris-langfield commented on #556
First step: loading a bunch of particles and averaging them.

Results 10017:
![avg_10017](https://user-images.githubusercontent.com/34426450/152403580-a40bdfdb-732f-40b0-b688-1c8dccaebe92.png)

[2022-02-03 19:26] oscarmickelin commented on #528
Hi everyone,

This should probably be a separate issue, but there might be some more accuracy problems with FFBBasis. For instance, the code below transforms a 3D Gaussian into the basis and then back into the Cartesian grid and even with the change above, my machine makes the FFBBasis a lot less accurate than FBBasis (1st plot is ground truth, 2nd is FFB, 3d is FB).

[code]

[2022-02-04 10:41] janden commented on #555
I think the same formula should hold as in the 2D case, that is `4 * rcut * kcut`, where `rcut = self.nres / 2` and `kcut = 0.5` (these correspond to the support size in the spatial and frequential domains). One way to test is to run tests for a large number of parameters and see how well we're able to reproduce various volumes using `expand`--`evaluate`. We can benchmark this against `FBBasis3D`

[2022-02-04 10:44] janden commented on #528
It might actually be another consequence of the same bug. If you want, you can try checking out the branch in #557 and see whether you observe the same behavior.

[2022-02-04 14:29] chris-langfield commented on #528
If I'm understanding correctly, Oscar's example is with the change? @oscarmickelin which specific `n_r` value did you use?

Thanks

[2022-02-04 14:58] oscarmickelin commented on #528
Yes, it is with the change in n_r which was not enough to get rid of the effect. But also increasing n_phi did work for me, so e.g.

        n_r = 128*int(self.ell_max + 1)
        n_theta = int(2 * self.sz[0])
        n_phi = 128*int(self.ell_max + 1)

does seem to achieve the same accuracy as FBBasis!

[2022-02-04 15:23] chris-langfield commented on #528
Got it thanks! I think this can be a separate issue for tracking purposes. Feel free to make it, or I will once I get around to taking a look 😄

[2022-02-04 15:25] chris-langfield commented on #528
It's worth noting that the condition number is still worse than FB3D even with the fix, so some loss of accuracy is to be expected, right? I'm not sure what our benchmark or guarantee is as far as this trade-off goes

[2022-02-04 16:48] chris-langfield commented on #556
Results from 10061 (from .box files)
![avg_10061](https://user-images.githubusercontent.com/34426450/152568917-20f3c289-2f2a-4203-b496-692210fc8b6a.png)

[2022-02-04 17:02] chris-langfield commented on #556
Last point of validation: are images rotated by 90 degrees with picked from a micrograph?

Note that when loading and writing to `.mrc`, the X and Y directions are flipped. That is, the first axis is Y, and the second is X. However, taking this into account, we can see that the relationship between the box format, the `CoordinateSource` logic, and this MRC convention preserves the correct orientat

[2022-02-07 16:10] janden commented on #528
But the change in #557 is to make `n_r` proportional to the size of the volume, not `ell_max`. Even with, that you see the same error?

Also I'm seeing that you use `expand` for FB but `evaluate_t` for FFB. You should be using `expand` for both.

Not really. The condition number indicates how far we deviate from an orthonormal basis, but with the CG iteration in `expand`, we should get comparable

[2022-02-07 16:12] janden commented on #556
Thanks! So we're good here?

[2022-02-07 16:22] oscarmickelin commented on #528
Yes, if n_phi is not increased, the change in n_r is not enough to get rid of the effect. The above code snippet is for fixed volume size, so it has n_r larger than the change in #557.

As for expand for FB, this is just for speed: even using FB with evaluate_t is more accurate than using expand with FFB as shown in the generated figures

[2022-02-07 16:26] chris-langfield commented on #556
Yes, I believe so. Was good to double check these things.

[2022-02-07 16:26] #556 closed, assigned to chris-langfield

[2022-02-07 16:28] janden commented on #528
All right.

Yes but they're not comparable. Since neither FB or FFB are orthonormal, I'm not sure what is gained by comparing their adjoints. Would you mind posting the figures and MSE's?

[2022-02-07 16:45] oscarmickelin commented on #528
The figure is attached: top is ground truth, the middle is transforming with FFB and then back, and bottom is transforming with FB and then back (all using expand). The relative residuals are 36% for FFB and 0.2% for FB.

This is all for:

 n_r = int(np.ceil(4 * self.rcut * self.kcut))
 n_theta = int(2 * self.sz[0])
 n_phi = int(self.ell_max + 1)

![ffb_vs_fb](https://user-images.githubusercontent

[2022-02-07 16:57] janden commented on #528
Ok. It's a little hard to see where the errors are in the plots above. Perhaps plotting the residual would make more sense here. Also looking at the images in 2D might give some clue to what's going on.

I notice in the original example you do FFT and IFFT for the FB decomposition. These basis objects are only defined for real-valued images, so this might create problems (although clearly that's n

[2022-02-07 17:09] oscarmickelin commented on #528
A 2d residual plot of the slice x[:,:,32] - y[:,:,32] is attached! (not relative residual)

Yeah, for FB, I've extended it to be able to handle complex values, but this isn't affecting the performance of FFB.

![ffb_2d_res](https://user-images.githubusercontent.com/40873271/152836683-6ec64ee9-eee5-494d-9344-94d5d8a36d55.png)

[2022-02-08 16:52] janden opened #559 "High reconstruction error in FFBasis3D"
Hi everyone,

This should probably be a separate issue, but there might be some more accuracy problems with FFBBasis. For instance, the code below transforms a 3D Gaussian into the basis and then back into the Cartesian grid and even with the change above, my machine makes the FFBBasis a lot less accurate than FBBasis (1st plot is ground truth, 2nd is FFB, 3d is FB).

[code]

_Originally posted by

[2022-02-08 16:52] janden commented on #559
See more on this in #528.

[2022-02-08 17:01] janden commented on #559
Played around with this a bit. Can reproduce it with the code below:

[code]

Replacing `ell_max = 7` with `ell_max = None` brings the FFB error down to that of FB.

[2022-02-08 17:02] janden commented on #528
Continuing the discussion in #559. I suggest we close this given that #557 was merged.

[2022-02-08 17:13] j-c-c opened #560 "`PolarBasis2D` default parameter bug."
When initializing a `PolarBasis2D` object without specifying the parameter `nrad`, an attempt is made to set it as `self.nrad = self.nres // 2`:
https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/3223d6c2c308af66f321ca2b0ddf3933045f904b/src/aspire/basis/polar_2d.py#L32-L42

In this case, `self.nres` is defined in the parent class `Basis` and because `super()` is called after the attempt to

[2022-02-09 09:16] ayeletheimowitz commented on #468
The size of the erosion mask is based on the particle size. We could use the particle size to determine the downsampling. This should prevent high memory consumption

[2022-02-10 09:51] janden commented on #560
Right. Calls to `super().__init__` should generally be done at the top of the subclass `__init__`.

[2022-02-10 09:52] janden commented on #468
Ok that sounds reasonable. Do you want to try it out?

[2022-02-10 10:56] janden commented on #559
Looks like the issue is that the number of quadrature points in `phi` (the latitude) also depends (incorrectly) on `ell_max`. Submitting a PR to fix.

[2022-02-10 10:58] janden commented on #555
So following #559 and #563, this should include checking both `theta` *and* `phi`.

[2022-02-10 13:37] #528 closed, assigned to chris-langfield

[2022-02-10 15:17] chris-langfield opened #564 "`np.squeeze()` in `ImageSource.get_metadata()`"
`np.squeeze()` is used in `ImageSource.get_metadata()` to remove axes of length 1. This behavior does not work on all metadata tables (represented as numpy arrays), so we have `np.atleast_1d` calls in `ImageSource` getters for fields with 1 column. This covers the case where there is 1 particle and 1 column.

We should figure out the situations where `np.squeeze()` actually does something to the t

[2022-02-10 17:20] chris-langfield opened #566 "Move from hardcoded to logical downsampling tests"
As part of #140 we are replacing the 2D downsampling method `Image.downsample()` with a MATLAB port. The plan is to do this in three steps:

1. Add a `crop_2d` method to `aspire.utils`(#565)
2. Replace hardcoded downsampling tests (where, for instance, the output is compared to a saved `.npy` file).
3. Replace the downsampling method

For step 2, there are unit tests across multiple files that do

[2022-02-10 19:39] chris-langfield commented on #140
I believe the last two steps will need to be done in one PR, as the current downsampling implementation fails certain logical tests. (for instance signal energy conservation for even to odd downsampling). Alternatively some tests can be added along with the final replacement of the `downsample` method.

[2022-02-11 14:13] janden opened #568 "Remove hardcoded FB tests"
As a result of #563, the tolerances have been loosened for the hardcoded tests. These should ideally go away and be replaced with logical tests (for FB2D, FFB2D, FB3D, and FFB3D):
1. Check that `expand`–`evaluate` of a smooth function (e.g., shifted Gaussian) reaches a reasonable tolerance (e.g., `1e-2`).
2. Check that `evaluate`–`expand` yields machine precision.
3. Check that `evaluate` and `eva

[2022-02-11 15:00] janden opened #569 "Conventions doc"
We are getting to the point where we have a lot of conventions that may or may not be explicitly articulated in the code. There are also cases where different parts of the code use different conventions. In that case, it would be good to indicate what the goal convention should be so that we can change things as we go along.

Some examples that come to mind are:
– YX and ZYX convention for images

[2022-02-11 15:20] janden commented on #569
Noting that this could also include terminology (box size, etc.) and notation (`L` vs. `N` vs. `n`, and so on).

[2022-02-11 19:17] garrettwrong commented on #569
This is great, thank you. I considered adding some of this to the internal developer google doc, but seeing your broader list I think it would be best for this to be in our sphinx docs (which need some refreshing anyway).

Offhand one thing that would also be worth writing down is the real/complex conversion, which can be found in a few places (`fspca.py` for example).

[2022-02-13 11:49] ayeletheimowitz commented on #468
Definitely

[2022-02-14 11:01] janden opened #570 "Existence of `BFSRAlign2D` and possible enhancement"
First question is whether `BFSRAlign2D` is still needed in view of #538 being merged. If we do want to keep it, it would make sense to bring the shift calculations in line with those used in `BFSReddyChatterjiAlign2D`.

[2022-02-14 11:11] janden commented on #569
Right. So this document could also include the definition of the basis functions, and so on.

There's a bit of a gray area here between definitions and more comprehensive design documents (that would outline not just what the algorithms are computing, but how). Still, I think this is a good starting point.

We can include formulas pretty easily in Markdown, right? If not, there should be a sphinx

[2022-02-14 11:12] janden commented on #468
:pray:

[2022-02-16 06:44] janden opened #572 "Finufft tests fail"
In particular, `testTransform1_32`, `testTransform1_64`, `testTransformMany1_32`, and `testTransformMany1_64` in `test_nufft` fail. This started with the upgrade to Finufft 2.0.4.

From a first look, it seems that this is not small discrepancy. For example, my local output for `testTransform1_32` gives all NaNs. Will continue to investigate.

[2022-02-16 07:24] janden commented on #572
So the following example reproduces the bug:

[code]

Error is about `5e-5` for 2.0.3 but `2e28` (or `nan`) for 2.0.4.

[2022-02-16 08:25] janden commented on #572
Will forward this onto Finufft. Will put in a PR to restrict versions to <2.0.4 for now.

[2022-02-16 09:12] janden opened #574 "Slow `expand` in FB/FFB bases"
The `expand` method performs CG to find the least-squares approximation of the coefficients given an image or volume.  This is currently too slow for practical use in many situations. There are several aspects that can be speeded up:

First, there may be convergence issues for the CG method that `expand` uses. Ideally, the condition number of the bases should be small (order of ten at the most), s

[2022-02-17 14:20] #572 closed, assigned to nobody

[2022-02-17 21:31] chris-langfield commented on #569
A note following the discussion in #522 that we plan to phase out `ensure`, whether as we encounter it or as one wholesale change. Will make an issue too

[2022-02-17 21:32] chris-langfield opened #578 "Replace `ensure` with `assert`"
See discussion on #522

`ensure` is just a wrapper for `assert` statements. We should move towards removing this and aim to use the standard library tool. Whether as we encounter it, or as one wholesale replacement in a PR.

[2022-02-18 07:38] janden commented on #569
It might be good to split this into two documents: mathematical conventions (formulas, etc. as I listed above), and coding conventions/terminology (so `L`, `n`, etc. `ensure` vs. `assert`, docstring format, and so on).

[2022-02-18 12:27] garrettwrong opened #579 "Python 3.7 logging occasionally hangs on long running jobs"
I've noticed a few times that Python 3.7 has hung on very long running jobs (experiments, ~24 hours) that previously had no such issues.  Using `strace` (well techincally `dtruss`, but similar idea) it looked to me like a threadlock.  I googled a bit and it seems there was in fact a collection of problems in Python 3.7 using the standard library logging with either threading or multiprocessing (we

[2022-02-18 13:41] garrettwrong opened #580 "Optimize Averager/Aligner coefficient calls"
In #538 we have some areas of the code which require basis coefficients in BFSR. Currently it gathers the entire coefficient stack, which is a poor implementation.  It is possible to refactor the code to gather just the required coefficients.

There is actually a helper method `Averager2D._cls_images`.  It is used for this purpose elsewhere in the code. Then it becomes a matter of refactoring/orch

[2022-02-18 16:31] chris-langfield opened #581 "`CoordinateSource` file validation is so stringent that it doesn't allow floats as coordinates"
This logic should be modified to allow coordinate files to contain floats. `isnumeric()` fails for floats.

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/36cc4ecf157c3c2a1de3fa503a863182792369ee/src/aspire/source/coordinates.py#L488-L492

[2022-02-18 16:38] garrettwrong commented on #581
Yeah, surprised we didn't see it. Send your fix over and we can get it in this release.

[2022-02-18 16:46] garrettwrong commented on #560
Closing issue, patch merged.

[2022-02-18 16:46] #560 closed, assigned to j-c-c

[2022-02-18 16:52] garrettwrong commented on #533
@chris-langfield , do you feel this okay to close now?

[2022-02-18 16:53] chris-langfield commented on #533
Yes, thanks let's close this one

[2022-02-18 16:54] chris-langfield commented on #542
Closed after #537 merged

[2022-02-18 16:54] #542 closed, assigned to chris-langfield

[2022-02-18 16:54] garrettwrong commented on #525
These crashes have been resolved for me by integrating the above patch, and some patches that Chris/Joakim worked on... at least well enough to run some basic reconstructions.  There are also several detailed issues open now about more specific improvements.  This issue served it's purpose, closing.

[2022-02-18 16:54] #525 closed, assigned to nobody

[2022-02-18 16:54] chris-langfield commented on #549
Closed by #537 with the `np.atleast_1d` fix

[2022-02-18 16:54] #549 closed, assigned to chris-langfield

[2022-02-18 16:55] #533 closed, assigned to chris-langfield

[2022-02-18 16:56] garrettwrong commented on #519
@chris-langfield , this one is done too right?

[2022-02-18 16:57] chris-langfield commented on #519
Yes, ty

[2022-02-18 16:58] garrettwrong commented on #504
I am thinking that you might want this for future CI (specifically the locally hosted GPU one).  It would be a straightforward way to load different backends.  Going to label/triage it.

[2022-02-18 16:58] #519 closed, assigned to chris-langfield

[2022-02-18 16:59] garrettwrong commented on #476
This was completed and merged.

[2022-02-18 16:59] #476 closed, assigned to nobody

[2022-02-18 17:01] garrettwrong commented on #477
The small class averaging can take 5-10 min to run.  I'm sure it can be reduced, but still not sure even smaller one worth running twice.

The usage is now covered in two `gallery/experiments` though.  I'll leave it open for now, others can decide, but personally would close.  Eventually another class will run and more tutorials will be probably made ....

[2022-02-18 17:02] garrettwrong commented on #494
Merged, closing.

[2022-02-18 17:02] #494 closed, assigned to j-c-c

[2022-02-18 17:05] garrettwrong commented on #371
Slowly but surely we are getting rid of `m_XXX` :)

[2022-02-18 17:07] garrettwrong commented on #195
These changes have been adopted. We now use our `Rotation` class wholesale. Closing.

[2022-02-18 17:07] #195 closed, assigned to j-c-c

[2022-02-18 17:09] garrettwrong commented on #268
There are still some RCOPTs around, but they are mainly in the unit tests and some tricky code areas to indicate possible trouble areas.  Otherwise changes have been integrated, closing.

[2022-02-18 17:09] #268 closed, assigned to garrettwrong

[2022-02-18 17:14] garrettwrong commented on #127
It looks to me like this might only be one gallery file using straight np.fft, and I am actually totally fine with that because it is how a user is most likely to do it anyway.

OTOH, I didn't review manually.  Just grep'ed few ways.

This should be an easy issue to close. Triaging into 0.9.1.

[2022-02-18 17:21] garrettwrong commented on #107
As we merge in some more class averaging sort of code, probably a good time to add some notes here.

I was not ever able to run the python variant(s) of this EM code.  With mild effort I was able to run the MATLAB version. It was extremely resource intensive and requires a hefty GPU iirc.  It did do a reasonable thing when given molecule projections, outputting something that looked like another m

[2022-02-18 17:23] garrettwrong commented on #36
This reminds me of the recent downsample issues. Triaging to 0.9.1.

[2022-02-18 18:20] garrettwrong commented on #578
Just waiting on unit tests for this now.  This was good application for regular expressions. I did it in following short steps.

1) grep to find and convert multiline ensures to single line. quick and dirty, intentionally dont care about formatting now, scripts will fix it. (stacked files up in editor and smashed ~5min)
2) test and run regexp explained below
3) run isort and black over the code to

[2022-02-18 18:52] chris-langfield commented on #578
Nice!

[2022-02-21 12:34] janden commented on #107
Matches with my experience. Hence my wariness with making this the default pathway.

[2022-02-21 14:59] #581 closed, assigned to chris-langfield

[2022-02-21 15:21] garrettwrong commented on #578
Closed by 583.

[2022-02-21 15:21] #578 closed, assigned to garrettwrong

[2022-02-23 20:25] janden opened #587 "Present tense in gallery/experiments/README.rst"
Now that we have scripts in this gallery, the summary blurb should reflect that.

[2022-02-24 17:23] garrettwrong opened #588 "Lower bound for FSPCA and bispectrum components"
`fspca_components` and `bispectrum_components` in `RIRClass2D` could both use a lower bound check.

For extremely low resolution, like you might try for faster unit tests, you may have less than the current default of 400 fspca coefficients in your (FB) basis.  This will cause some errors later.  You could elect to warn and take some minimum (the number of FB basis coef), _or_ just raise at this p

[2022-02-24 18:14] garrettwrong opened #589 "Averager Alignment reflection bug"
In the great refactor of Aligners to Averagers I introduced a bug where sometimes images with reflections are off by 180*. This can be seen faintly in the tutorial.

I'll push a PR shortly that fixes this. Just waiting for the tests to run here.

FWIW, the bug actually was two distinct errors that occurred during the `k` loop refactoring.  My bad. happy to catch them.

I will also include another

[2022-02-25 17:04] janden commented on #553
So the idea here is that:

- All `evaluate`s should take an `ndarray` as input and output a `Volume`/`Image`
- All `evaluate_t`s and `expand`s should take an `Volume`/`Image` as input (but will cast an `ndarray` to the appropriate cast after logging the warning) and redurn an `ndarray`

Certain parts of this is implemented in certain `Basis` classes and other parts in other classes. To sort this o

[2022-02-25 17:08] janden opened #591 "Move `Basis._getfbzeros` to a standalone function"
This has no business being in the `Basis` class as it is only specific to the FB bases. We also need to be able to call it easily from tests. The name should also be modified to follow convention, so `get_besselj_zeros` would be more appropriate. Finally, it should be tested independently: make sure the points it actually returns are zeros of the Bessel functions and do a quick check to make sure

[2022-02-25 17:12] janden commented on #591
Looking closer at this, it's not clear what `_getfbzeros` does that `num_besselj_zeros` doesn't do. The latter also seems inappropriately named since it not only calculates the number of zeros, but actually returns the zeros themselves. More investigation is needed here.

[2022-02-25 17:15] janden opened #592 "Allow `Basis` objects to take a scalar input instead of tuple for size"
Since these are all required to be square anyhow, it would be useful to have a shorthand of a scalar size that corresponds to that square.

[2022-02-25 17:23] janden opened #593 "`Basis` objects don't seem to be checking sizes"
The following code runs:
[code]
but should error. We should find out how widespread this behavior is (just `expand` or also `evaluate_t` or even `evaluate`?) and in what classes (just `FBBasis2D` or others as well) and then fix it.

[2022-03-08 17:22] #589 closed, assigned to garrettwrong

[2022-03-10 14:31] janden opened #595 "Allow access to submodules from top level"
Have `aspire.__init__` import the submodules so that we can just run `import aspire` and have access to everything. Need to look out for circular dependencies.

[2022-03-14 16:41] chris-langfield commented on #591
`ell` is k and `k` is q with reference to this paper right?

https://arxiv.org/pdf/1412.0781.pdf

[2022-03-14 17:22] chris-langfield commented on #591
I agree that this method doesn't belong in `Basis`. However, it depends on no less than 4 class attributes which would have to become arguments (`self.ell_max`, `self.nres`, `self.ndim`, `self.dtype`) and it also modifies/creates two class attributes which are needed by the class later on (`self.ell_max` and `self.k_max`).

It was possible to pull this out into `basis_utils.py`, but ugly. How abou

[2022-03-14 17:26] chris-langfield commented on #591
I agree it would be good to test independently. The actual computation of the zeros depends on a handful of functions in `basis_utils.py` that are barely commented. I think regardless of what we do with `Basis._getfbzeros`, this could be cleaned up a bit.

[2022-03-14 17:42] chris-langfield commented on #592
Since `size` is currently the required argument for creating a `Basis`, it would still have to be supplied even if we added a shortcut (let's say we called it `L`).

There isn't a plan to support expanding rectangular images in one of these bases, right? I would propose to just ditch the tuple and always supply an integer

[2022-03-16 15:06] chris-langfield opened #597 "Theoretical basis of Bessel root-finding"
The functions `num_besselj_zeros`, `besselj_zeros`, `check_besselj_zeros` are almost exact ports from the MATLAB code, but are lacking clear comments.

These in turn are modifications of this script by Jonas Lundgren:

https://www.mathworks.com/matlabcentral/mlc-downloads/downloads/submissions/26639/versions/5/previews/zerobess.m/index.html

When attempting to work out what exactly these functions

[2022-03-16 15:26] chris-langfield commented on #593
This happens for all FB bases, but not for the PWSF, etc. as far as I can tell. Correction: this happens for `FPSWFBasis2D` but not `PWSFBasis2D`

[2022-03-22 13:38] chris-langfield opened #600 "Replace saved ribosome volume with Gaussian blobs for testing"
Many tests rely on the saved 70S ribosome volume, e.g.

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/6cb389edf21e811224cc98f4fde0d63ed778b9a7/tests/test_volume.py#L316-L323

However, we should replace these with self-contained tests based on gaussian volumes, and test mathematical properties rather than compare to hardcoded files. Good examples are below:

https://github.com/Computati

[2022-03-22 16:07] chris-langfield opened #601 "Shifted Fourier Bessel Coefficients"
Some ideas here:

Relevant Math Stackexchange post: https://math.stackexchange.com/questions/236010/integral-of-scaled-bessel-function-with-linear-phase

![Screen Shot 2022-03-22 at 12 03 42 PM](https://user-images.githubusercontent.com/34426450/159524537-d9654648-b0b7-43cb-ad9f-aaf753e485a3.png)

[2022-03-22 19:45] chris-langfield commented on #601
Should have linked the paper: https://arxiv.org/pdf/1412.0781.pdf

Starting from Equation 16

[2022-03-31 13:50] janden commented on #601
I'm not sure that the formula for F(f') in the second equality is correct here. There's a dependence on the angle θ as well. See

![image](https://user-images.githubusercontent.com/3976052/161070477-4b6a5d94-2249-4c2e-b178-7901ec19b8b4.png)

[Rangan et al. (2020)](https://arxiv.org/pdf/1905.12317.pdf). Here that would amount to

F(f')(r, θ) = e^{i ξ r₀ cos(θ₀ - θ)} F(f)(r, θ)

You may want to look

[2022-03-31 14:05] chris-langfield commented on #601
Yes you're absolutely right. I think it makes the rest of my blurb incorrect. Thanks for the paper. I also want to drop this one in this discussion for the future because it was useful to me

N. Baddour, 2D Fourier transforms in Polar Coordinates. Invited paper, Advances in Imaging and Electron Physics, Volume 165, Editor: Peter Hawkes, Burlington, Academic Press, 2011, pp. 001-046. ISSN 1076-5670

[2022-03-31 14:20] chris-langfield commented on #597
Some paraphrased comments by @janden from the PR thread:

[2022-04-04 10:14] janden opened #603 "Simplify `gaussian_` functions"
Right now, `gaussian_2d` takes in `x0, y0, z0` and `sigma_x, sigma_y, sigma_z`, while `gaussian_1d` and `gaussian_3d` take in just `mu` and `sigma`. Would be better if `gaussian_2d` followed the same pattern. Another nice feature would be if `sigma` could take a scalar value, which would amount to `(sigma, sigma, sigma)`.

Furthermore, the `peak` argument is redundant (can just multiply the output

[2022-04-04 10:15] janden commented on #603
Another potential issue is that the 2D and 3D functions use XYZ ordering instead of ZYX, where we should be preferring the latter. A solution here is to make `indexing` available as an argument, defaulting to `zyx` and explicitly setting `xyz` in those places (I assume mostly tests) where it's necessary.

[2022-04-04 10:18] janden opened #604 "`ArrayImageSource` should have integer filter indices"
Specifically, the line
https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/6cb389edf21e811224cc98f4fde0d63ed778b9a7/src/aspire/source/image.py#L729
should be updated with `dtype=int`.

[2022-04-04 16:09] janden commented on #574
For reference, I performed some experiments with `L = 16` for `FFBasis3D`:
[code]
This gives `kappa` of about 2, which in turn means a convergence rate of `(sqrt(kappa) - 1) / (sqrt(kappa) + 1)` of about 0.17, which is verified experimentally. We get about 0.75 digits per iteration, so getting 15 digits of accuracy takes about 20 iterations. Clearly this is too much.

One way to reduce the conditi

[2022-04-05 13:38] #593 closed, assigned to chris-langfield

[2022-04-05 13:38] #592 closed, assigned to chris-langfield

[2022-04-05 16:14] janden commented on #574
Part of the issue seems to be discretization error. If we reduce the Fourier support (`kcut`) by half, we get a condition number of about 1.29, which gives a convergence rate of about 0.064 (1.2 digits per iteration). Obviously this is not a “solution”, but gives an idea of where the ill-conditioning comes from.

What this tells us, though, is that adapting the support (spatial and frequential) ca

[2022-04-07 20:33] chris-langfield opened #608 "Downsampling gridpoint test"
We can use this issue for ongoing discussions of the new downsampling method

Will be updating this issue with progress on the problem @janden.

[2022-04-07 21:06] chris-langfield commented on #608
### Testing the MATLAB code

**Summary: Only even-even works**

We can generate spherically symmetric Gaussians in ASPIRE with

[code]

Now in MATLAB we can load them and then slice the middle to get a symmetric 2d gaussian.

[code]

For sanity check, the images below are `gs2d_64`

![gs2d_64](https://user-images.githubusercontent.com/34426450/162307782-9d6d53ce-e654-4cdc-bec7-a0ddeeb7bf54.png)

a

[2022-04-07 21:41] chris-langfield commented on #608
### Testing the Python Code

We see practically the same pattern when replicating with the new downsampling method in Python

[code]

[2022-04-11 16:26] chris-langfield opened #609 "MATLAB hold-overs in Fourier Bessel zero finding method"
The following should be modified to be a list of arrays (possibly of variable lengths, for each ell), rather than a zero padded NumPy array.

cf. #599

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/6cb389edf21e811224cc98f4fde0d63ed778b9a7/src/aspire/basis/basis.py#L79-L85

[2022-04-13 16:27] chris-langfield opened #613 "Add a `.zenodo.json` file to the repository to correctly display authors on Zenodo"
Currently the authors list on Zenodo has to be manually rearranged. We can create a `.zenodo.json` file to determine the order, display names, and affiliations of all authors.

https://github.com/pyxem/pyxem/issues/824

[2022-04-15 17:25] #604 closed, assigned to nobody

[2022-04-19 19:13] chris-langfield commented on #608
Testing out the idea mathematically:

The below is the formula for the DFT:

`X[k] = Sum(n=0 -> N-1) x[n] exp(-2*pi*j*k*n / N)`

Let's say we have a signal of length 4

`[x0, x1, x2, x3]`

[FFT]

`[DC, X1, X2, X3]`

[FFTSHIFT] Swaps the center with the DC component. Everything to the right of the center goes to the front,
and everything to the left of the center goes to the end of the sequence. Th

[2022-04-19 19:33] chris-langfield commented on #613
Wanted to point out that Zenodo has a sandbox area where we can test out uploads to make sure our JSON is doing the right thing.

https://developers.zenodo.org/#testing

I haven't played around with this yet, but it could be a good starting point if we wanted to add even more customization beyond just the authors

[2022-04-21 11:14] janden commented on #608
I've looked through the math, and the center value should always be preserved in the bandlimited case. This is because

```x[n] = 1/N * sum(k=-N/2 → N/2-1) X[k] exp(-2*pi*i*k*n/N)```

so for `n = 0`, we obtain

```x[n] = 1/N * sum(k=-N/2 → N/2-1) X[k]```

If we're bandlimited, `X[k]` for `abs(k)` large enough are all zero and all that happens is that the sum is taken from `M/2` to `M/2-1` (with ap

[2022-04-25 15:04] chris-langfield commented on #608
Using `centered_fft2` and `centered_ifft2` appears to have done the trick. Somehow these methods are accounting for the even/odd cases in a way that doing `fft2` and then `fftshift`, and `ifftshift` followed by `ifft2`, are not.

[2022-04-25 17:39] chris-langfield opened #617 "3D Downsampling"
#606 will close #140 by making our 2D downsampling method identical to the MATLAB code.

3D downsampling, (i.e. `Volume.downsample()`) currently uses the ported `downsample` method sitting in `aspire.image.preprocess`. This relies on the same principle as the new 2D method but is not identical.

This `downsample` method takes 1,2, or 3 dimensional inputs, and can downsample to custom sizes. It is

[2022-04-25 17:43] chris-langfield commented on #502
Closed by #551

[2022-04-25 17:43] #502 closed, assigned to chris-langfield

[2022-04-25 17:43] chris-langfield commented on #608
I believe @janden solved this so we can close to reduce clutter

[2022-04-25 17:43] #608 closed, assigned to chris-langfield

[2022-04-25 17:46] chris-langfield commented on #617
Once this is done, we can test using gaussian blobs and further eliminated hardcoded data. See #600

[2022-04-25 17:46] chris-langfield commented on #600
Related to #617

[2022-04-25 17:46] chris-langfield commented on #591
Closed by #599

[2022-04-25 17:46] #591 closed, assigned to chris-langfield

[2022-04-25 17:47] chris-langfield commented on #554
Closed by #565

[2022-04-25 17:47] #554 closed, assigned to chris-langfield

[2022-04-25 17:48] chris-langfield commented on #531
Closed by #550

[2022-04-25 17:48] #531 closed, assigned to chris-langfield

[2022-04-26 11:44] janden commented on #617
I'd say let's move to have the 3D downsampling work as similarly to 2D downsampling as possible.

We could eventually refactor to do this as well.

By this you mean non-square (non-cubic) sizes? That's less of a priority, but can be looked at later if needed.

Besides the two things above, does it do anything else that the current 2D downsampling does not do?

I agree, although it might be better

[2022-04-26 12:24] chris-langfield commented on #617
Yes, exactly

Based on one input, it handles 1, 2 and 3 dimensional cases, along with *stacks* of 1d, 2d, or 3d. So there are quite a few logic branches.

Yes definitely. The new 2d downsampling method in #606 essentially does what `aspire.image.preprocess.downsample()` does, but broken out into a special case, and with the adjustments we made. My thought was we could do more or less the same proc

[2022-04-28 07:42] janden commented on #617
Supporting stacks is crucial in any dimension.

This can be compacted similarly to how the `grid_` functions work.

I agree.

[2022-05-10 19:18] RiceOwlXinTan opened #621 "Running experimental_abinitio_pipeline.py"
I have many micrographs mrc files, and each of them has produced a single star file after running aspire apple. In the abinitio pipeline, the following line seems to only allow one star file as the input for reconstruction.

 src = RelionSource(starfile_in, pixel_size=pixel_size, max_rows=n_imgs)

Is there any way that I can use all the star files for the reconstruction? I find extract-particles c

[2022-05-11 18:30] chris-langfield commented on #621
The STAR files generated by `apple` are indeed coordinate files. You should be able to give those to `extract-particles` along with the micrograph. Let us know if you have any trouble, as the feature was recently added. Thanks!

[2022-05-11 21:44] RiceOwlXinTan commented on #621
Hi Chris, Thanks! I am using the storage.star file now. I have a bit issue in the initalize_block function, which you can see the errors below. I can load the starfile, but cannot convert and combine them. Which function should I use? After the combination, is the final single starfile still able to trace the source mrc files?

![aspire issue](https://user-images.githubusercontent.com/36173011/167

[2022-05-11 22:45] chris-langfield commented on #621
Sorry my initial comment was not a good solution so I deleted it. I changed it to read:

The STAR files generated by `apple` are indeed coordinate files. You should be able to give those to `extract-particles` along with the micrograph. Let us know if you have any trouble, as the feature was recently added.

Since these STAR files are coordinate files, you wouldn't be able to trace the original mi

[2022-05-12 14:40] RiceOwlXinTan commented on #621
Hi Chris, Thanks! I have used extract-particles to produce stacks and a single comprehensive star file, and it's working great. However, after the orientation estimation was complete, I had the following error when calling the line estimated_volume = estimator.estimate(). Can you share some insights into resolving it?

![image](https://user-images.githubusercontent.com/36173011/168100661-832025a7-

[2022-05-12 17:25] chris-langfield commented on #621
Hi there, good to hear! Would you mind posting the full script you're trying to run, if possible? I have a feeling you might be missing CTF parameters.

[2022-05-12 19:19] chris-langfield opened #622 "Integrate `estimate_ctf`, `CTFFilter`, and `CoordinateSource`s"
#### CTF Estimator

The `estimate_ctf` method (which creates a `CTFEstimator` object internally) takes in a directory containing micrographs and outputs `results`, a list of tuples containing CTF parameters for each micrograph:

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/c2cd98fa03b6bd232472a29c7aa0876d041772b2/src/aspire/ctf/ctf_estimator.py#L697-L713

The first 3 items here corres

[2022-05-12 19:59] chris-langfield commented on #622
The following code in `RelionSource` extracts CTF parameters from the STAR file and adds them to `unique_filters`. We could probably do something similar for coordinate sources, except that we also need to add the metadata manually using `ImageSource.set_metadata()`. (`RelionSource` gets it directly from the STAR file).

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/c2cd98fa03b6bd23247

[2022-05-12 20:05] chris-langfield commented on #622
The question would be how to design the API.

For instance, should there be a `CoordinateSource.estimate_ctf(pixel_size, voltage ...)`, which then internally calls `aspire.ctf.estimate_ctf()`, and creates the filters and updates the metadata internally? The advantage of this is that the `CoordinateSource` knows the names and locations of all of its micrographs, so would be able to call `aspire.ctf

[2022-05-12 20:07] chris-langfield commented on #622
@janden and I also discussed that `result`, the output of `estimate_ctf`, should be converted into a dict of dicts. That is:

[code]

[2022-05-13 00:06] RiceOwlXinTan commented on #621
Hi Chris, I am just using the experimental_abinitio_pipeline.py published on the aspire doc, but I used my own dataset and slightly changed the parameter. I read the earlier issue of reconstruction crush and changed the downsample from 64 to 32. It runs longer but still ends up having the same issue.

![image](https://user-images.githubusercontent.com/36173011/168186301-73af9256-5832-4067-bac9-4d3

[2022-05-13 18:49] RiceOwlXinTan opened #624 "Running Jupyter Notebook but aspire not found"
After installing the package and running the test, the package is able to work properly when directly calling python files eg: python abinitio_pipeline.py in aspire_env Conda environment. However, when I tried to call a jupyter notebook under aspire_env environment, the code inside cannot detect aspire pacakeg. Is there any way to address this issue?

![Screenshot 2022-05-13 133450](https://user-i

[2022-05-13 18:58] garrettwrong commented on #624
This can happen if you load Jupyter before you have loaded your conda env, or if accidentally launched outside the environment.  Changing the env in a shell with juptyer running in the bg would also behave like this for example.  Considering you successfully ran the python code directly, I would be inclined to think the `aspire` package is actually installed.  Can you double check your steps and r

[2022-05-13 19:14] RiceOwlXinTan commented on #624
Hi,

I am indeed in aspire_env, as this is labeled in front of my command line before calling Jupiter. I am currently using the windows sub Linux system. After I call Jupiter, the browser from Linux pops up but freezes, and I have to open my windows browser to access the notebook. Do you think this might cause the issue?

[2022-05-13 19:16] garrettwrong commented on #624
Oh, I have no idea, and I'm not really setup to reproduce anything re windows....  The browser shouldn't matter though...

Sorry I didn't see the command line you are speaking about.  I will try to reproduce.

[2022-05-13 19:24] garrettwrong commented on #624
Yes, I can reproduce. Next time please include your entire traceback so we can help you faster :).

Looks like a scikit package we were using moved. I'll try to pin it down and see if we can resolve this. It is not clear why you did not see it from the python code directly.  Thank you for reporting.

[2022-05-13 19:31] garrettwrong commented on #624
Okay, I think have a fix. Please close your session then in your conda env run:

`pip install scikit-learn==1.0.2`

This will revert to the version that backed the problematic code.  Relaunch and confirm if that resolves the notebook for you.  If so I will create an issue about patching this. Thanks and sorry about the trouble.

[2022-05-13 23:47] RiceOwlXinTan commented on #624
Hi Garrett! I solved the issue. It's actually not because of scikit-learn, which I had the version you suggested. Instead, it's the  jupyter I was using. Initially, my jupyter is under /usr/bin, now I conda installed a jupyter under envs/aspire_env/bin. Thanks for your help!

[2022-05-14 00:30] garrettwrong commented on #624
Oh great! If it is useful, you can try either of these in the future to install some extra dev tools (including Jupyter, pytest etc) that might be useful working with Aspire.

`pip install "aspire[dev]"`

or, if using a local editable installation

`pip install -e ".[dev]"`

I'll close this then; thanks for reporting back.

[2022-05-14 00:30] #624 closed, assigned to nobody

[2022-05-14 02:53] RiceOwlXinTan commented on #494
Does aspire support D_n symmetry?

[2022-05-14 02:57] RiceOwlXinTan opened #626 "recommended parameters in class average & parallelization"
Hi,
I am wondering is there any general guideline to set up the parameters for class average computation? Eg: # of classes, and # of neighbors in the NN algorithm with sample size considered. Also, are there any parallelization options for class average or volume estimation? I find command line functions such as `aspire apple` do speed up significantly on a cluster. However, when running python fi

[2022-05-16 10:57] garrettwrong commented on #494
Hi, Aspire Python does not provide a method specific to D_n at this time. Thanks

[2022-05-16 11:23] garrettwrong commented on #626
Hi, good questions.

Unfortunately no. The feature is relatively new and the surface of computational and accuracy performance has not been studied to that extent.  With that said, my intuition is that it would vary quite a bit with the specific data set anyway.  Some more documentation with rough guidelines is definitely something we plan to do!  Initially I was honing in on reproducing the resul

[2022-05-16 11:31] garrettwrong commented on #621
I feel like you have way too few classes :).  Each 'class" represents a slice in the 3d volume reconstruction.  30 slices in 3d is not much at all. I would not expect that to work.

Try using a few hundred at least and note the simulated abinitio pipeline experiment example uses 1000...

[2022-05-16 16:21] RiceOwlXinTan commented on #626
Thanks so much, Garrett! This is very insightful and helpful! My name is Xin Tan, and I am from the Rice University Department of Statistics.

[2022-05-19 15:40] RiceOwlXinTan opened #627 "Parameters for Orientation Estimation"
Hi,
I have very good class averages (128*128, # of averages: 400 & 1000), but the final estimated volume is very bad. I guess the issue might be with the common line orientation estimation.

Are there any recommendations for parameters of the function CLSyncVoting() functions if I am aiming for a high-quality reconstruction? I am currently using the default parameters with n_rad=None, n_theta=360,

[2022-05-19 19:21] chris-langfield opened #628 "`CoordinateSource` and `extract-particles` should insert particle coordinates into metadata"
Typical Relion-preprocessed datasets preserve the `_rlnCoordinateX` and `_rlnCoordinateY` fields in metadata. These come from Relion's own particle picking. In addition to the option to add CTF metadata (see #622), particle centers should be added to STAR file metadata of `CoordinateSource` objects when they are saved. This includes when they are converted from micrograph datasets into particle st

[2022-05-20 12:00] garrettwrong commented on #627
Hi Xin Tan, I am really glad to hear you are satisfied with the pipeline up through the class averages.  I take that to mean you are stacking 400 images and using 1000 of those stacks for the subsequent reconstruction?

Unfortunately the orientation and 3d reconstruction components are less mature in ASPIRE-Python. This is something the team is aware of, and are currently working on improving.  Th

[2022-05-20 12:57] garrettwrong opened #629 "Running pytest leaves `bad_applepick.star`"
Checked out latest develop and ran pytests.  This left `bad_applepick.star` in my invocation dir.

I'm assuming this is a tmp file for testing.  Probably should clean it up.  Also, maybe could consider controlling the directory.

[2022-05-23 09:16] vinith2 opened #630 "Abinitio Pipeline - Experimental Data - Not working"
After downloading the recomended data. The starfile cannot be parsed by the function. That is when the line
src = RelionSource(starfile_in, pixel_size=pixel_size, max_rows=n_imgs) is run the error obtained is Wrong number of values in the loop.

[2022-05-23 12:32] garrettwrong commented on #630
Hi, I think that the version of `10028` currently on EMPIAR has a typo in the star file.  Try the following:

[code]

The typo is unfortunate, but par for the course with cryo em data afaict.

Please report back if that resolves this problem for you.  If so we will convert this into an issue about adding a note to the experiment.

[2022-05-23 13:20] garrettwrong opened #631 "PIL Warning Cleanup"
Recently started seeing some warnings relating to PIL.  Looks like easy fix.

[code]

[2022-05-24 05:46] vinith2 commented on #630
Hi, yes removing "9" solves the issue. Thank you for solving it.

[2022-05-24 05:46] #630 closed, assigned to garrettwrong

[2022-05-24 18:37] chris-langfield opened #633 "`CTFEstimator` Default Values"
Can we replace some of the input parameters to `estimate_ctf()` with sensible defaults?

[2022-05-24 18:38] chris-langfield commented on #633
Maybe adopt defaults from

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/master/src/aspire/commands/estimate_ctf.py

[2022-05-25 08:27] yoelsh opened #634 "FSPCABasis crash"
The following code crashes.
It works for smaller N (I tried N=20000).

Code:
------

import sys
import numpy as np

from aspire.source import ArrayImageSource
from aspire.basis.fspca import FSPCABasis
from aspire.source.mrcstack import MrcStack

N = 100000
wht_noise = np.random.randn(N, 129, 129).astype(np.float32)
src = ArrayImageSource(wht_noise)

fspca_basis = FSPCABasis(src)

Output:
--------

[2022-05-25 11:10] garrettwrong commented on #634
Hi Yoel, sorry to see this. I was able to confirm this.  In gdb I see we are crashing inside FINUFFT.

[code]

I'll need to try to make a minimal finufft call to repro this and confirm. Will get back to you.

[2022-05-25 17:42] garrettwrong commented on #634
https://github.com/flatironinstitute/finufft/issues/215

[2022-05-26 16:52] chris-langfield opened #635 "`ImageSource.set_metadata()` bug"
When calling `set_metadata` with `indices` specified, the indices *not* specified are all set to `NaN` instead of preserving their original values.

Reproduce:

[code]

This shows the following `pandas` table

[code]

Now we try to change the metadata for some but not all particles, and look at the metadata again

[code]

[code]

The original data has been erased from all of the other indices.

Tr

[2022-06-01 12:02] janden commented on #628
That's a good idea.

[2022-06-02 10:59] garrettwrong commented on #276
Lifting this issue after the recent bug in FINUFFT.  I think we should do the following:

i) confirm/deny the state of the other (CPU) nufft implementations in our config. Last I checked only FINUFFT worked.
ii) find and maintain one working nufft alternative in ASPIRE
iii) implement a nuft (the slow explicit one) as a reference/fall back. This is practically useless but can come in handy for debu

[2022-06-02 11:07] garrettwrong opened #638 "Batched Array Image Source"
Discuss relevance and estimated effort.

Alternatively, we can consider how to shoehorn array data into Relion source.

[2022-06-02 12:26] janden commented on #276
I agree with (i) and (iii), but (ii) can be hard. The issue is that the time is dominated by unstructured memory access, which means that a naive NUFFT implementation in Python is likely to be _slower_ than a “slow” NUDFT (i.e., option (iii)). If we really want to do it, we can take some inspiration from https://github.com/jakevdp/nufftpy. It's still going to be a lot of work.

[2022-06-02 12:27] janden commented on #638
Can you expand a bit? Would this take some sort of generator as an input?

[2022-06-02 13:17] garrettwrong commented on #638
No, simply chunk through a user provided array... Probably using the same mechanism from Relion source.

Immediately this would provide a workaround for the FINUFFT bug, but longer term it might be useful for debugging from time to time.

[2022-06-02 14:35] garrettwrong commented on #638
I think we decided to close this after discussing in our meeting.

[2022-06-02 14:35] #638 closed, assigned to nobody

[2022-06-07 02:54] ghost opened #639 "Is there an error while performing the rotation on the mesh?"
When I performed the code in the def rotated_grids() (line: pts_rot[:, i, :] = rot_matrices[i, :, :] @ pts), I found the "pts" numpy was (for for example):
array([[-3.1415927, -3.1415927, -3.1415927, ...,  3.0925055,  3.0925055,
         3.0925055],
       [-3.1415927, -3.0925055, -3.043418 , ...,  2.9943306,  3.043418 ,
         3.0925055],
       [ 0.       ,  0.       ,  0.       , ...,  0.

[2022-06-07 11:44] garrettwrong commented on #639
I think this might be a matter of conventions.  Are you encountering a problem?

[2022-06-08 12:14] ghost commented on #639
I tried to project a 3D volume (mrc file) with eular (0,0,0) with ASPIRE. However this projection is completely different with the prection from Relion (also using the same phi,theta,psi).
Then I also tried to change the code (grid2d = grid_2d(L, indexing="xy", dtype=rot_matrices.dtype)) into (grid2d = grid_2d(L, indexing="yx", dtype=rot_matrices.dtype)). This time the resulting projection appeare

[2022-06-08 22:18] garrettwrong commented on #639
Yes, this sounds familiar.  I put code in place to migrate the conventions (the `indexing` flag) but I'm not sure we were able to convert all of them at the time.  It is a little out of my memory, but I will mention it in our next developer meeting.  Thank you for reporting.

[2022-06-09 02:10] garrettwrong commented on #634
Updating... bug was confirmed by FINUFFT team and they will be fixing in their next release.  That should get picked up automatically when that happens.

I will also be adding a patch to batch this problem call in ASPIRE's code shortly.  Likely I can get that in quicker.  FWIW, we have an issue in queue/planning regarding batching that whole feature of the code, but there were some changes in time

[2022-06-09 16:05] garrettwrong opened #641 "Expose cls avg alignment estimations"
At some point during refactoring I removed the assignment of `rotations` `shifts` and `correlations` to the aligning class instance.  These can be exposed once computed in a way that allows for reference and override.

[2022-06-09 16:15] garrettwrong opened #642 "User Logging Config"
User requested we expose and/or document configuring logging.

It has been a while since we reviewed our logging system, but I was probably the last one to touch it...

As I recall, currently we are just using the standard Python logging module, configured using `logging.conf` in our repo root.  The log stream is split and filtered separately for the console (INFO) and disk (DEBUG).

It is easy to

[2022-06-13 16:16] chris-langfield opened #644 "`Volume.T` does not match `numpy` Transpose"
The `Volume` class has a `.T` property which returns the transpose of the data. However, this does not match the `numpy` transpose operation on the volume's data

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/1bff8d3884183203bd77695a76bccb1efc909fd3/src/aspire/volume/__init__.py#L202-L223

Reproduce:

[code]

This specifically comes up in `FBBasis3D.evaluate_t` as the method calls for

[2022-06-13 23:16] garrettwrong commented on #644
Hi Chris, I don't feel this `transpose` is meant to duplicate numpy exactly. This is why the docstring states it will flip the data axes and also why the code is written out so explicitly for that method... (where a one liner could do). Trying to make it pretty clear we are only operating on the data axes (not the stack axis).

In `image` we use the method name `flip_axes`, but in 3d this sort of

[2022-06-13 23:18] garrettwrong commented on #644
If you want to propose a solution that reconciles the names for all the cases and are willing to implement it as a standalone patch it would probably be well received :).

[2022-06-14 12:42] chris-langfield commented on #644
Thanks for explaining, yes I see now why this came up. It definitely wasn't a bug, just something that came up while switching around functions taking/returning `Volume`s vs NumPy arrays.

I actually think that the `asnumpy().T` probably (hopefully) only comes up internally and the more natural thing a user would want to do is flip just the data axes. Maybe we can leave it, or maybe something like

[2022-06-21 16:55] j-c-c opened #646 "`anorm` does not handle complex values properly"
When specifying an axis, `anorm(x, axes=[1])` computes the norm along the axis with inner product `ainner(x, x, axes=[1])`, which does not use the complex conjugate (see below).

This may be as simple as replacing `y` with `np.conj(y)` in the `return` expression.

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/1bff8d3884183203bd77695a76bccb1efc909fd3/src/aspire/utils/matrix.py#L354-L367

[2022-06-21 17:15] garrettwrong commented on #646
Good catch, just curious, where are we using complex values.?  I thought all the areas except some portion of class averaging (bispectrum) were constrained to reals in the Python code....

[2022-06-21 17:15] garrettwrong commented on #646
Doh, I see the linked code. Please disregard. Thanks!

[2022-06-24 02:44] garrettwrong commented on #634
The patch for this is merged into `develop`. We have discussed future optimization of batching for this component and hope to get to it soon.

Long term, FINUFFT fixed their side and we'll get it next release, but in mean time we've implemented batching in the area that tickled crash.  Issue should be resolved. Please keep the issues coming so we know what's hot to fix. Thanks

[2022-06-24 02:44] #634 closed, assigned to garrettwrong

[2022-07-06 01:23] garrettwrong opened #650 "Phase Flipping (for CTF Correction)"
Yoel reported (by email) that ASPIRE CTF `phase_flip` was not working.

This isn't part of the code I implemented, so I need to get farther into details, but shown below is code in question.  If I am reading the code for `LambdaFilter` correctly, it will first evaluate the `self.unique_filters` on a frequency grid `omega`, and then the result of will be passed into `np.sign`.  Crudely, `np.sign(f(

[2022-07-06 16:21] #631 closed, assigned to garrettwrong

[2022-07-06 16:27] chris-langfield commented on #140
Closed by #606

[2022-07-06 16:27] #140 closed, assigned to chris-langfield

[2022-07-06 16:27] #566 closed, assigned to chris-langfield

[2022-07-06 23:14] garrettwrong commented on #650
Been going back and forth with Yoel, couple red herrings, but I think I figured the problem out.

Their example starfile (attached) was missing `_rlnVoltage` `_rlnSphericalAberration` and `_rlnAmplitudeContrast`.

In current ASPIRE code, if a complete set of CTF params is not provided, the branch to create CTFFilter objects is not run and no filters are added to `self.unique_filters`.  This result

[2022-07-07 00:01] garrettwrong commented on #629
Merged.

[2022-07-07 00:01] #629 closed, assigned to chris-langfield

[2022-07-07 00:12] garrettwrong opened #651 "Rectangle MRC input to ctf_estimator"
User reported an issue using rectangular MRC files with ctf_estimator as #558 .

- [x] Create a unit test for this if it does not already exist.
- [x] Confirm the behavior/bug.
- [x] If the suggested patch is correct, rebase the original contributor's patch.  Otherwise we should improve example/doc here for future users.

[2022-07-07 00:22] garrettwrong opened #652 "Recent CI Flake8 failure"
Appears something in Flake8 has upgraded and our tox check is failing in CI.

[code]

Patch should follow.

[2022-07-07 16:36] #652 closed, assigned to garrettwrong

[2022-07-11 15:28] garrettwrong commented on #646
Merged.

[2022-07-11 15:28] #646 closed, assigned to j-c-c

[2022-07-11 15:28] garrettwrong commented on #613
Merged.

[2022-07-11 15:28] #613 closed, assigned to chris-langfield

[2022-07-11 15:30] garrettwrong commented on #323
Duplicate of #60 , closing.

[2022-07-11 15:30] #323 closed, assigned to junchaoxia

[2022-07-11 16:07] j-c-c commented on #587
This issue was addressed in #602. Closing.

[2022-07-11 16:07] #587 closed, assigned to nobody

[2022-07-12 19:41] j-c-c commented on #308
@janden Do we want `Filter.sign()` to be a `Filter` object that can then be evaluated (ie. `Filter.sign().evaluate(omega)`) to retrieve the signs of the evaluation, or do we want `Filter.sign()` to return the signs?

[2022-07-13 00:29] garrettwrong commented on #308
I vaguely remember discussing this at the time and I think it was the latter. (Watch me have foot in mouth, heh)

If that is the case I think we can decorate a method in the base class with `@property` so the invocation would just be `X.sign` for any subclass of `Filter`.

[2022-07-13 00:30] garrettwrong commented on #308
A follow up task might be to replace the `LambdaFilter(.*, np.sign)` in phase flip code... with your improved syntax.

[2022-07-13 16:51] j-c-c commented on #308
@garrettwrong Ok, per our conversation, I will use the `@property` decorator and `Filter.sign` will return a filter that can later be evaluated to obtain the signs.

[2022-07-20 15:08] garrettwrong opened #658 "Whiten Extremal Value"
User reported bug with whitening.  Let's confirm and see if we can incorporate any fixes from the MATLAB code.

[code]

Added .txt extension to all files for upload.

[example.star.txt](https://github.com/ComputationalCryoEM/ASPIRE-Python/files/9151093/example.star.txt)
[script.py.txt](https://github.com/ComputationalCryoEM/ASPIRE-Python/files/9151094/script.py.txt)
[example.mrcs.txt](https://gith

[2022-07-20 18:19] chris-langfield commented on #651
So `mrcfile` does in fact save the Y axis as 0 and the X axis as 1:

see https://mrcfile.readthedocs.io/en/latest/usage_guide.html

The reason for the error when loading rectangular micrographs is the following line:

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/1bff8d3884183203bd77695a76bccb1efc909fd3/src/aspire/ctf/ctf_estimator.py#L154-L160

The `i`s and `j`s need to be switched be

[2022-07-20 18:24] chris-langfield commented on #651
Draft test sitting in branch `rect_ctf_651`

[2022-07-21 12:46] janden commented on #658
It's strange that we get a zero value at the center here. In theory, these filer estimates should all be positive. All the same, might be good to add a small epsilon before dividing.

[2022-07-21 14:17] #308 closed, assigned to nobody

[2022-07-21 16:07] j-c-c commented on #658
Just looking at the noise psd estimation in the `AnisotropicNoiseEstimator()` below. Line 133 sets the center value of the filter. Looks like if `noise_psd_est[mid, mid]` and `mean_est**2` are equal, the center will be zero (unless I'm misunderstanding this).
https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/1bff8d3884183203bd77695a76bccb1efc909fd3/src/aspire/noise/noise.py#L112-L133

At a

[2022-07-26 09:25] janden commented on #658
Right but that is quite unlikely to happen. They are only equal if the mean value of each image is constant (which it may be due to previous preprocessing, i.e. `normalize_bg`). It's worth checking to see if this is the case.

Yes that corresponds to a pseudoinverse formulation (since the standard inverse does not exist if one of the filter values is zero).

Adding an epsilon corresponds to regula

[2022-07-26 14:27] j-c-c commented on #658
@janden Thanks for the clarification. I'll see if I can track down where these zeros are coming from.

[2022-07-27 10:43] janden commented on #650
Yeah I'd say that this should be expected behavior. If a user supplies a STAR file with incomplete CTF information, it's expected that we don't create the CTF filters. The question is whether we should error (indicating that the STAR file is misformatted) or log/emit a warning. Normally, we're quite permissive, so I guess we should consider the latter.

Calling `phase_flip` *should* be a no-op if

[2022-07-27 18:20] j-c-c opened #662 "Change Polar Fourier to Row Major"
In `src/aspire/abinitio/commonline_base.py` the polar Fourier `self.pf` is transposed into column major order here:
https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/1bff8d3884183203bd77695a76bccb1efc909fd3/src/aspire/abinitio/commonline_base.py#L69-L70

then later converted back to row major order when performing a correlation:
https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/1bf

[2022-07-27 18:46] j-c-c opened #663 "MSE accuracy different for C3 and C4 symmetry"
The common lines algorithm for molecules with C3 and C4 symmetry is performing better for C3 symmetry. See `tests/test_orient_symmetric.py`. We should investigate the cause of this and resolve if possible.

[2022-07-28 11:34] garrettwrong commented on #663
Just curious, by performing, do you mean compute speed or quality?

[2022-07-28 14:31] j-c-c commented on #663
I mean quality. The MSE is much lower for C3. See this discussion https://github.com/ComputationalCryoEM/ASPIRE-Python/pull/594#discussion_r909780788

[2022-07-28 16:24] #543 closed, assigned to j-c-c

[2022-07-28 16:25] #603 closed, assigned to j-c-c

[2022-07-29 17:51] j-c-c opened #664 "Use ASPIRE `about_axis()` in Gallery"
Replace the function below with ASPIRE's `about_axis()`:
https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/1bff8d3884183203bd77695a76bccb1efc909fd3/gallery/tutorials/generating_volume_projections.py#L52-L59

[2022-07-29 17:58] j-c-c commented on #664
We can also use `Volume.load()` earlier in the script.

[2022-07-29 18:03] garrettwrong commented on #664
I think this predates both of those. Nice catch, thanks.

[2022-08-01 13:19] garrettwrong opened #666 "OSX Azure CI Updates"
I found that our Azure OSX CI is in a brownout today (20220801).

The message implies OSX 10.15 is going away 20220930.

<img width="1492" alt="Screen Shot 2022-08-01 at 9 13 43 AM" src="https://user-images.githubusercontent.com/47759732/182156853-a28aef68-188f-4d63-9c66-fbb6e1761429.png">

[2022-08-01 20:51] #641 closed, assigned to garrettwrong

[2022-08-02 02:48] garrettwrong commented on #666
Linking issue

https://github.com/actions/virtual-environments/issues/5583

[2022-08-03 11:41] garrettwrong commented on #650
Okay, re punishment, my draft #654 currently raises an error if `phase_flip` is called without any filters.  This was following the suggestion of Yoel.  It's easy enough (two or three lines) to change to a warning and continue.  I'll do that and undraft it. Thanks.

[2022-08-04 12:48] j-c-c opened #676 "Test common lines method with shifted images"
We are currently using a `Simulation` with offsets set to zero for common lines testing in `tests/test_orient_symmetric.py`.

[2022-08-04 12:50] garrettwrong commented on #676
If the tests aren't too long we should probably test both situations, perhaps via parameterization.

[2022-08-04 12:55] garrettwrong commented on #570
It would not be too hard to make the search be a disk like the other methods and then use the parallelization technique.  Because this is a stupid simple algo that can be used for d3eveloper reference, I think it might be worth leaving as long as it is under sufficient unit testing.  I'm thinking to take this after #660 .

[2022-08-04 13:02] garrettwrong commented on #579
This hasn't come up again, believe it was resolved.  Closing.

[2022-08-04 13:02] #579 closed, assigned to nobody

[2022-08-04 14:13] garrettwrong commented on #666
Closed by #673

[2022-08-04 14:13] #666 closed, assigned to garrettwrong

[2022-08-04 18:26] garrettwrong commented on #650
Closed by 654.

[2022-08-04 18:26] #650 closed, assigned to garrettwrong

[2022-08-05 09:22] janden commented on #676
Agreed.

[2022-08-05 12:26] garrettwrong opened #677 "Parallelize BFR BFSR Alignment"
Following #660 we should parallelize the other alignment methods, and then set the default for base/all classes to be `None` to attempt automatic parallelization.  Probably could do this and #570 together.

[2022-08-09 12:12] garrettwrong commented on #559
We should discuss this on Thursday if there is time.  Mainly I'm interested in how much of this issue was resolved by 563 and how much remains...

[2022-08-09 12:15] garrettwrong commented on #430
I think the map file have already been added by Josh via `Volume.load()`, and we were discussing recently how to integreate PDB files; either by using `gemmi` which we already require or another tool.

[2022-08-09 12:18] garrettwrong commented on #203
@j-c-c , the tests you were showing me recently are in this direction.  If you feel we have or will cover this issue just tag the right related PR/issue. Thanks!

[2022-08-09 12:26] garrettwrong commented on #71
I think if this is worth having we should just implement it, otherwise close the issue.

The upsampled array described is easy to make, but would need to decide on the LPF.

[2022-08-09 14:39] #635 closed, assigned to chris-langfield

[2022-08-09 21:57] chris-langfield commented on #633
This will be closed by #623 and the issue is settled: we are using those defaults. Closing to declutter issues page

[2022-08-09 21:57] #633 closed, assigned to chris-langfield

[2022-08-11 12:34] janden commented on #71
I think it's worth having. Could be that you have a reference volume that's at the wrong resolution or something similar.

[2022-08-11 13:20] garrettwrong commented on #559
Closing after meeting discussion.

[2022-08-11 13:20] #559 closed, assigned to nobody

[2022-08-11 15:17] chris-langfield commented on #553
Closed by #618

[2022-08-11 15:17] #553 closed, assigned to chris-langfield

[2022-08-11 15:19] chris-langfield opened #678 "`_evaluate` and `_evaluate_t` should only deal with arrays"
#618 enforced the high level interface for these basis methods and closed #553

However, we want the private methods to also have a common interface dealing with only arrays, with casting done at the `Basis` public method level. This may involve digging deep and tweaking the various basis-specific methods. Dealing with `mat_evaluate` and `mat_evaluate_t` may also be an issue.

[2022-08-12 13:48] janden commented on #21
I think this is good, right? The only place I can find binary data is in the tests and the galleries, but the core code does not use any, as far as I can tell.

[2022-08-12 14:02] garrettwrong commented on #21
SGTM, closing :) .

[2022-08-12 14:02] #21 closed, assigned to nobody

[2022-08-22 15:37] garrettwrong opened #682 "Another Azure Platform upgrade"
Chris reported `develop` CI failed this morning due to scheduled Azure brownout.  Looks like we need update the ubuntu images.

[code]

My only concern is their naming is goofy...  They list 22.04, but still have 20.04 as `-latest`.  Makes me wonder if we should just always use specific versions. Maybe docs old. TBD.

https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure

[2022-08-24 04:35] janden commented on #682
Could just be that by `-latest` they want something like `-stable`. 22.04 is less than six months old, so it's likely not as well deployed as 20.04 (see, e.g., https://fr.archive.ubuntu.com/stats/stats_of_day-25.html?version=last). I'd say we're better off testing for 20.04 rather than 22.04.

[2022-08-24 04:36] janden commented on #682
Nm looks like we test for both. Great!

[2022-08-24 11:54] garrettwrong commented on #682
Neat stat site. Yes, we test both.

I would prefer if Azure provided image tags as `-lastest` and `-stable` (and that they were deployed coherently), but I haven't seen anything to indicate that in the Azure docs... only `-latest` which actually seems to be current right now :).

[2022-08-24 12:00] garrettwrong commented on #682
Closed by #683 .

[2022-08-24 12:00] #682 closed, assigned to garrettwrong

[2022-08-27 14:05] juliacpowell1999 opened #684 "Running 2D Class Averaging with Relion Particles"
Hello,

I would like to run 2D Class averaging within the Aspire package with particles extracted from relion 4. I have installed Aspire and can successfully run the tests. However, I am a bit confused about how to run class averaging in Aspire. It does not appear that any of the Aspire commands allows for class averaging; I saw some python scripts in the tutorial section of the readthedocs page,

[2022-08-29 12:11] #684 closed, assigned to nobody

[2022-08-31 20:07] chris-langfield opened #687 "Unable to set *some* `filter_indices`, only *all*"
`ImageSource.filter_indices` is a 1D Numpy array of length `ImageSource.n` indexing which CTF filter corresponds to which particle.

Currently the setter and getter decorators block this from being partially updated:

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/1bff8d3884183203bd77695a76bccb1efc909fd3/src/aspire/source/image.py#L107-L114

Example behavior

[code]

I think this should

[2022-09-01 15:13] chris-langfield commented on #622
Closed by #623

[2022-09-01 15:13] #622 closed, assigned to chris-langfield

[2022-09-08 17:10] garrettwrong opened #691 "incorrect Volume.flip default axis"
Developers found Volume.flip axis is 0, but this corresponds to the stack axis.

A default of axis=1 probably makes more sense.

[2022-09-14 14:13] garrettwrong commented on #691
Closed by #692

[2022-09-14 14:13] #691 closed, assigned to garrettwrong

[2022-09-14 14:16] garrettwrong commented on #588
Closed by #675

[2022-09-14 14:16] #588 closed, assigned to garrettwrong

[2022-09-14 14:23] garrettwrong opened #694 "`rots` vs `rotations`"
Some areas of the code use `rots` and others use `rotations`. During a presentation there was a line that looked like

`foo.rots = bar.rotations`

I feel like the attribute names should be consistent.  I am leaning towards `rotations` for user facing code (attributes of classes).  Using `rots` for a local var is fine.

Quick grep, looks like mainly `image` code, unit tests and (gallery) docs.

[2022-09-15 09:41] janden commented on #694
Works for me.

[2022-09-15 13:28] chris-langfield commented on #651
Closed by #688

[2022-09-15 13:28] #651 closed, assigned to chris-langfield

[2022-09-20 20:11] garrettwrong opened #697 "Fix `image_expansion` gallery example"
Was checking the docs build for a PR and found that we probably need to update this example.

I think either add `abs` to `Image` or change the associated example to use `asnumpy`. Can discuss. Both very minor, but we'll need to fix before release...

[code]

[2022-09-20 20:15] garrettwrong commented on #697
If we add `__abs__`, then it isn't clear whether to return numpy array or `Image`.  If `Image` then we end up needing `asnumpy` or something later anyway...

So leaning towards just changing the example unless objections.

[2022-09-20 20:23] garrettwrong commented on #697
Yeah, just going to use `asnumpy`.  Should be covered in #696

[2022-09-22 12:42] garrettwrong opened #699 "User reported FFB2D evaluate_t slowness"
One of our post docs reported that evaluate_t seemed to slow down more than expected for large batches of hi resolution images, say 10000 300x300 images.  Couple issues.

He mentioned that it appeared we were not multithreading.  I confirmed that FINUFFT is working fine, but it does appear our fft may be underperforming. We need to look at that.

Second. I was able to get a significant speedup for

[2022-09-22 16:55] garrettwrong opened #700 "Gaussian helper function cleanup/completeness"
In #616 `gaussian_3d` was extended to admit an `indexing` arg.  We may in the future want this for 2d case as well. or just for completeness.

Another improvement we can do there is to admit any iterable of length 3 instead of forcing a `tuple`.  Mainly to support taking in an array.  That would make it easier to use in a loop, ie call in loop over some (k,3) array etc.  Similarly len 2 for 2d.

I

[2022-09-23 16:03] j-c-c opened #701 "`evaluate_t()` passed NumPy array"
There are several instances of `evaluate_t()` being passed a NumPy array (which raises a warning). In particular:

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/d94bb4abf042bb3cf5b001b9108bb71ffb2b616a/src/aspire/reconstruction/estimator.py#L92

https://github.com/ComputationalCryoEM/ASPIRE-Python/blob/d94bb4abf042bb3cf5b001b9108bb71ffb2b616a/src/aspire/reconstruction/estimator.py#L149

[2022-09-23 16:03] j-c-c commented on #701
I will circle back around to this shortly. It will be a quick fix.

[2022-09-26 13:23] j-c-c opened #702 "`ArrayImageSource` docstring formatting"
It appears that the docstring for `ArrayImageSource` is improperly formatted as the parameters are not displaying correctly in the docs (see pic). Just need to add a blank line in the `__init__`.

![Screen Shot 2022-09-26 at 9 17 59 AM](https://user-images.githubusercontent.com/66811911/192287537-4d29bfef-8b47-46f6-9937-712456af8ff8.png)

[2022-09-27 16:30] garrettwrong opened #703 "GPU Unit Tests"
For the last fews days I have been working on-and-off towards fixing the GPU unit tests.  Since they were last maintained a wide variety of failures have developed across the codebase.

The current state of the work is that I have tracked all the unit test failures down to the `anufft` (adjoint) in single precision.

The following patch will restore all the unit tests at the expense of invoking th

[2022-09-27 19:13] j-c-c opened #705 "Broken Tutorial"
`gallery/tutorials/image_expansion.py` is currently broken. This is related to the recent change of convention that `evaluate()` returns an `Image` object.

Here is the build error:
``Unexpected failing examples:
/Users/carmichael/Work/ASPIRE-python.docs_fix_702/gallery/tutorials/image_expansion.py failed leaving traceback:
Traceback (most recent call last):
  File "/Users/carmichael/Work/ASPIRE-p

[2022-09-27 19:28] garrettwrong commented on #705
Closing, dupe of https://github.com/ComputationalCryoEM/ASPIRE-Python/issues/697 , which is already covered in a blocked upstream PR.

[2022-09-27 19:28] #705 closed, assigned to nobody

[2022-09-28 14:43] garrettwrong commented on #703
Updating.

i) I am unable to reproduce as a single test case. These cases run and produce acceptable results.
ii) Commenting out the `parameterize_class` and manually running each of the cases is successful for both doubles and singles.

I'm thinking maybe one of the single precision cases is leaving in bad state and causing subsequent tests to fail.  I will continue by trying to query those sort

[2022-09-28 16:31] garrettwrong commented on #703
I attempted to build cufinufft on caf. The default `make` which targets older platforms works, but I cannot generate code for these A100 cards (sm_80).  Wrote to our friendly admin to see if he can install the correct toolkit (11.x).

In the mean time, will try to build the library on tigergpu and relocate it to PACM (sketchy re linking).  I also noticed that PyCUDA is unable to gen code, and I th

[2022-09-30 13:25] garrettwrong commented on #664
This might be a good small issue while we are sprucing up the docs. I don't think it depends/conflicts on anything upstream.

[2022-09-30 13:56] garrettwrong commented on #595
Taking a look at this now.

[2022-09-30 14:49] garrettwrong commented on #595
Alright, the initial change is pushed. CI is running, but I think it is harmless.

Now the remaining tasks are to walk through the submodules and makes sure that they are exposing the items we'd like.  I will try to write a script for this. (That is, all the non underscore names we find should be importable as aspire.subpkg.name, and if not, need to be added to subpkg.__init__.py).

[2022-09-30 15:13] garrettwrong commented on #595
[code]

Seems okay.

[2022-10-03 13:58] garrettwrong opened #707 "Run docs CI (gallery) Daily for `develop`"
Regularly run docs gallery in CI.  Currently it just runs during a develop to master merge.

[2022-10-04 11:05] garrettwrong commented on #707
Thinking it might be better to run this daily. Then we'll just need to force ourselves to look at it.

[2022-10-04 19:12] chris-langfield opened #710 "Centerpoint test discrepancies for 3D downsampling"
One of the test conditions in `tests/test_downsample.py` is that the intensity at the center point of the volume should be conserved.

According to our centering conventions this is the point `v[L // 2, L // 2, L // 2]`

We are not achieving this to within the dtype tolerance for our 3D downsampling code. This is a problem inherent to the original method, which is identical to the one introduced i

[2022-10-04 21:01] garrettwrong commented on #701
I think 709 forgot the one for the 3D estimator ... which was probably the one you see in the demo :)

[2022-10-05 13:52] j-c-c commented on #701
Aah, good catch. We even had a discussion specific to that line. Must have forgot to save my `Volume` wrap. Will do a quick PR for that!

[2022-10-05 17:52] #701 closed, assigned to j-c-c

[2022-10-06 13:00] garrettwrong opened #712 "Data Downloader"
Current and future examples require some example data off the web (eg, EMD 2660).

Add a feature that downloads such data to a user configurable cache location (something like `~/.aspire/cache` by default) and integrate it into the examples.

We can decide based on code complexity whether this should be a bulk download (download all supporting data once) or lazy (on first need).

Also we can discu

[2022-10-12 15:17] garrettwrong opened #715 "Sphinx `language` warning building docs upstream"
Saw this building docs today.  Probably an easy fix.

[code]

[2022-10-13 13:03] #694 closed, assigned to garrettwrong

[2022-10-13 13:04] garrettwrong commented on #697
Closed by #696

[2022-10-13 13:04] #697 closed, assigned to garrettwrong

[2022-10-13 13:14] garrettwrong commented on #715
Looks like this is a change implemented progressively in Sphinx 5.  Pushing small patch once the docs build.